<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt Re-Activate User Account Page</title>
  </head>
<body>
<div class="navbar navbar-inverse" style="width:100%;height:50%;border:0px solid #000;background-color:#3399FF;margin-bottom:3px;">
 			 <div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" style="color:white;font-size:24px;padding-left:30px;font-weight:bold;">BlueCollarHunt</a>
    			</div>
    			<ul class="nav navbar-nav navbar-right">
    				<li class="color customLink"><a href="/" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a></li>
					<li class="color customLink"><a href="/login" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Seeker</font></a></li>
					<li class="color customLink active"><a href="/actUserAcct" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">ReActivate</font></a></li>
					<li class="color customLink"><a href="/empSignIn" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Employer</font></a></li>
					<li class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a></li>
    			</ul>
  			</div>
</div>
<div class="container" style="padding-left:0px;margin-bottom:-20px;">
<div class="row" style="height:201px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
	<img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/>
</div></div></div></div></div>
<div class="container" style="padding-left:0px;margin-bottom:0px;">
<div class="row" style="height:556px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:550px;">
<div class="middle-box" style="padding-top:30px;margin-left:280px;">
<div class="panel-body" style="padding:10px;">
	<!-- ERROR Message Display Area -->
			<div id="errMsgArea" ng-show="errorMsg" style="height:60px;width:450px;">
			<div class="form-group">
			<flash-message
    			duration="5000"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
			</div>
<div class="panel panel-default site-panel-box" style="width:450px;height:431px;margin-top:10px;">
	<div class="panel-body" style="padding:4px;padding-bottom:20px;">
		<div class="wrapper">
			<form name="Activate_Form" class="form-signin">       
			    <h3 class="form-signin-heading">Re-Activate User Account</h3>
				  <hr class="colorgraph"><br>
				  <input id="email" class="form-control" autofocus="true" style="width: 350px; display:inline-block; height:32px" type="text" ng-model="user.email" placeholder="Username or Email" ng-required="true">
				  <br/>
				  <input id="handle" class="form-control" autofocus="true" style="width: 350px; display:inline-block; height:32px" type="text" ng-model="user.handle" placeholder="Enter Secret Handle" ng-required="true">
				  <br/><br/>
				  <button ng-click="actUserAccount(user)" class="btn btn-primary block full-width m-b" style="width:280px">Activate</button>
            	  <br/><br/>
            	  <a class="btn btn-warning btn-block" href="/login">Cancel</a>		
			</form>			
		</div>
	</div>
</div>
</div>
</div>

<div id="social" class="right-box text-center" style="margin:30px 0 0 -310px;padding-top:20px;">
		<div class="panel panel-default site-panel-box" style="height:240px;width:360px;margin:0 0 10px 0px;margin-top:60px;">
		<div class="panel-body" style="padding:0px;">
		<div class="wrapper form-signin">
		<ul style="font-size:14px;text-align:left;color:667C26;padding:0px;"> <strong style="color:blue;">Note :</strong>
		<li style="padding-top:14px;">Username or Email is registered user Email ID deactivated earlier.</li>
		<li>Enter Secret handle as received via registered email at the time of deactivation.</li>
		<li>For any other issues contact Administrator.</li>
		</ul>
		</div>
		</div>
		</div>
</div>
</div>
           
</div></div></div>
<footer>
<div class="container" style="padding-left:0px;margin-bottom:-30px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
</div></div></div></div></div>
</footer>
<div style="width:100%;height:90px;border:0px solid #000;background-color:#3399FF;">
	<p class="copyright" style="padding-top:60px;color:white;font-size:15px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</body>
</html>