<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Blue Collar Hunt Candidate Profile Page</title>
  </head>
<body>
<div class="navbar navbar-inverse" style="width:100%;height:50%;border:0px solid #000;background-color:#3399FF;margin-bottom:3px;">
 			 <div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" style="color:white;font-size:24px;padding-left:30px;font-weight:bold;">BlueCollarHunt</a>
    			</div>
    			<ul class="nav navbar-nav navbar-right">
					<li class="color customLink"><a href="" ng-click="getJobTracking(currentUser.email)" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">GO BACK</font></a></li>
    			</ul>
  			</div>
</div>
<div class="container" style="padding-left:0px;" data-ng-init="candidateProfileInfo()">
<div class="row" style="height:201px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
	<a href="/empHome"><img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/></a>
	<div  style="border:4px solid #5BC0DE;width:846px;height:44px;margin-left:120px;margin: -85px 0px 0px 120px;">
		<h3 style="text-align:center;margin-top:5px;margin-bottom:20px;">{{candidate.firstName.toUpperCase()}} {{candidate.lastName.toUpperCase()}} PROFILE INFORMATION REVIEW SCREEN </h3>
	</div>
</div></div></div></div>

<div class="container" style="padding-left:0px;margin-top:-20px;">
<div class="row" style="height:556px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:590px;">
<div class="panel-body" style="padding:10px;">
<!-- <img class="banner" src="img/BlueCollar_Profile.png" alt="background" width="100%" height="530px"/> -->
<!-- For Profile Image and Details -->
<div class="panel panel-default site-panel-box" style="width:220px;height:562px;margin:3px 0 0 5px;float:left">
<div class="panel-body" style="padding:20px;">
<img ng-show="dataUrl == 'NoProfilePic'" src="img/blank.jpeg" style="height:125px;width:175px;border-radius: 60%;background-position: center center;background-size: cover;" />
<img ng-show="dataUrl != 'NoProfilePic'" ng-src="{{dataUrl | trustUrl}}" style="height:125px;width:175px;border-radius: 60%;background-position: center center;background-size: cover;" />
<br/>
<div ng-controller="RatingCtrl" style="text-align:center;">
	<h3>
    <span uib-rating ng-model="rating" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"  ng-change="updateRating(rating)" aria-labelledby="default-rating" style="color:orange;"></span>
	<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
	<!-- <b>Rating : {{currentUser.rate}}</b> -->
	</h3>
</div>
<br/><br/>
<table>
<tr>
<td>
<strong>Zipcode</strong>
</td>
<td style="padding-left:10px;"> :</td>
<td style="padding-left:10px;">
<strong>{{candidate.zipcode}}</strong>
</td>
</tr>
<tr>
<td nowrap>
<strong>Main Skill</strong>
</td>
<td style="padding-left:10px;"> :</td>
<td style="padding-left:10px;">
<strong>{{candidate.primarySkill}}</strong>
</td>
</tr>
<tr>
<td>
<strong>Mobile</strong>
</td>
<td style="padding-left:10px;"> :</td>
<td style="padding-left:10px;" nowrap>
<strong>{{candidate.contactNum}}</strong>
</td>
</tr>
</table>
<br/><br/><br/><br/>
</div></div>
<!-- For Most Talented Skills and Recommendations/Views -->
<div class="panel panel-default site-panel-box" style="width:928px;height:380px;margin:3px 0 0 232px;" data-ng-init="candidateProfileDetails()">
<div class="panel-body" style="padding:3px;padding-top:0px;">
<h3>{{candidate.firstName}} {{candidate.lastName}} <!-- <img src="img/like_image.jpeg" style="width:90px;height:70px;padding-bottom:20px;"></h3> -->
<button class="btnCustom" style="width:110px;height:28px;padding:0px;border-radius:20px;margin-top:0px;margin-left:10px;" ng-click="updateCandidateStatus(candidate)" ng-show="applicationStatus == 'IR' || applicationStatus == '' || applicationStatus == undefined">Short-List</button>
<button class="btnCustom" style="width:115px;height:28px;padding:0px;border-radius:20px;margin-top:0px;margin-left:10px;background:#f0ad4e;border: solid #f0ad4e 2px;"" ng-click="updateCandidateStatus(candidate)" ng-show="applicationStatus == 'SL'" ng-disabled="true">Shortlisted</button>
<h4 style="margin:-10px 0px 0px 0px">@{{candidate.lastName}}</h4>
<div class="form-group" style="margin:10px 0px 0px 0px;">
<textarea name="message" id="coverMsg" class="form-control" rows="12" cols="26" ng-disabled="true"
                                placeholder="Cover Letter Info Wall" ng-model="candidate.coverPageInfo" style="width:440px;height:290px;resize: none;border:3px ridge #5BC0DE;"></textarea>
</div>
<div class="panel panel-default site-panel-box" style="width:400px;height:305px;margin:-360px 0 0 450px;float:right;border:2px dotted">
<div class="panel-body" style="padding:0px;" data-ng-init="checkCandidateProfileVideo()">

<div ng-show="!showVideo">
<div ng-show="uploader.isHTML5" style="padding-left:0px;">
             <div nv-file-drop ng-click="launchFilePicker()" uploader="uploader">
               <div nv-file-over uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone" style="border-style:dotted;border-color:#5BC0DE;border-width: 5px;width:396px;height:274px;">
                                Drag & Drop Profile Video Here
               <div ng-hide="uploader.isHTML5"><input id="fileDialog" type="file" nv-file-select uploader="uploader" onclick="javascript:alert('hi')"/></div>
               </div>
             </div>
</div>
</div>
<div ng-show="showVideo" style="padding:0px;" data-ng-init="getProfileVideo()">
<video id="videoPreview" ng-src="{{videoSrc | trustUrl}}" style="width:396px;height:301px;" controls="yes"></video>
</div>

</div></div>
</div></div>
<!-- For endorsements -->
<div class="panel panel-default site-panel-box" style="width:404px;height:55px;margin:-65px 0 0 754px;">
<div class="panel-body" style="padding:0px;">
<button class="btn btn-info block full-width m-b" style="width:145px;height:52px;" data-toggle="modal" data-target="#listEndorses"><span class="customSpan">Endorsements</span></button>
</div></div>
<!-- For Candidate Resume list -->
<div class="panel panel-default site-panel-box" style="width:928px;height:173px;margin:18px 0 0 234px;">
<!-- <p style="text-align:center;"><strong style="color:blue;">Recommended Jobs for your skill : {{currentUser.primarySkill}}</strong></p> -->
<div ng-if="!isContactProfile" class="panel-body" style="padding:8px;" data-ng-init="listProfileResume()">
<b>Candidate Resume:</b>
<table class="table table-striped">
<tr width="100%" class="info" style="margin-bottom: 0px;cursor: pointer;" ng-repeat="resume in resumeList" ng-click="getRecoJobInfo(job.jobID)">
<td>{{resume.filename}}</td>
<td>{{resume.contentType}}</td>
<td>{{resume.uploadDate}}</td>
</tr>
</table>
</div>
</div>
</div></div></div></div></div></div>

<!-- Section to list the Job Seekers current endorsement messages -->
<div  class="modal fade" id="listEndorses" role="dialogue">
	<div class="modal-dialogue" style="width:45%;height:100%;z-index:0;margin-top: 13%;margin-left: 27%" data-ng-init="listEndorsements()">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Endorsements received for {{candidate.firstName}} {{candidate.lastName}}</h4>
			</div>
			<div class="modal-body" style="display:block;">
				<table class="table table-striped" style="margin-bottom: 10px;">
				<thead>
				<tr style="background-color:#D3D3D3">
					<th>Endorse Message</th>
					<th></th>
					<th>Endorsed By</th>
					<th>Endorsed Date</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="endorse in endorseList">
					<td colspan="2" style="padding: 0px;cursor: pointer;">{{endorse.message}}</td>
					<td style="padding: 0px;cursor: pointer;" nowrap>{{endorse.fromEmail}}</td>
					<td style="padding: 0px;cursor: pointer;" nowrap>{{endorse.origPostDate}}</td>
				</tr>
				<tr ng-show="endorseList.length <= 0">
				<td colspan="4" align="center"><h4 style="color:red">No Endorsements received.</h4></td>
				</tr>
				</tbody>
				</table>
			</div>
			<div class="modal-footer" style="text-align:center;">
				<button class="btnCustom" style="width:95px;height:33px;padding:0px;border-radius:20px;background: #f0ad4e;border: solid #f0ad4e 2px;" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- End list of the Job Seekers current endorsement messages -->

<footer style="padding-top:20px;">
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;margin-bottom:-13px;">
<div class="panel-body" style="padding:55px;">
</div></div></div></div></div>
</footer>
<div style="width:100%;height:90px;border:0px solid #000;background-color:#3399FF;">
	<p class="copyright" style="padding-top:60px;color:white;font-size:15px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</body>
</html>