<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Blue Collar Hunt Contact Page</title>
    <style>
		.jumbotron {
		background: #358CCE;
		color: #FFF;
		border-radius: 0px;
		}
		.jumbotron-sm { padding-top: 0px;
		padding-bottom: 0px; }
		.jumbotron small {
		color: #FFF;
		}
		.h4 small {
		font-size: 10px;
		}
	</style>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
		    <div style="text-align:center">
			<div class="form-group" style="display:inline-block;">
            <a href="/login"><button style="margin-top:-57px;width: 145px; height: 35px; font-size: 16px" class="btn btn-primary"  ng-click="">
				<span class="glyphicon"></span>  Seeker
			</button></a>
            </div>
            <div class="form-group" style="display:inline-block;float:center">
            <a href="/empSignIn"><button style="margin-top:-57px;width: 145px; height: 35px; font-size: 16px" class="btn btn-primary"  ng-click="">
				<span class="glyphicon"></span>  Employer
			</button></a>
            </div>
            </div>
            <div style="text-align:center">
			<div class="form-group has-feedback" style="display:inline-block;">
                <input type="text" ng-model="user.search" class="form-control" style="width:280px" placeholder="Search" ng-change="testLoginName()" ng-required="true">
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback" style="display:inline-block;">
            <input type="text" id="Autocomplete" ng-model="user.location" style="width:280px" class="form-control" placeholder="Location" ng-autocomplete="result1" details="details1" options="options1" />
            <i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
            </div>
            <div class="form-group" style="display:inline-block;">
            <button style="margin-top:-57px;width: 145px; height: 35px; font-size: 16px" class="btn btn-warning"  onclick="javascript:alert('WIP')">
				<span class="glyphicon glyphicon-ok-sign"></span>  Search Jobs
			</button>
            </div>
            </div>
</div></div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row" style="height:616px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:610px;padding:20px;">
<br/>
<div id="errMsgArea" ng-show="errorMsg" class="panel panel-default site-panel-box" style="height:52px;width:700px;margin:0 0 0 60px;">
		<div class="panel-body" style="padding:0px;">
			<div class="form-group">
			<flash-message
    			duration="5000"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
		</div>
</div>
<div class="well well-sm" style="width:700px;height:310px;margin-top:29px;margin-left:60px;float:left;padding:20px;">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                <font color="red">*</font>&nbsp;Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" ng-model="contact.name" style="width:280px"/>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                <font color="red">*</font>&nbsp;Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" ng-model="contact.email" style="width:240px"/></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                <font color="red">*</font>&nbsp;Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required" ng-model="contact.subject" style="width:280px">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Inquiry</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Technical Issues</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                <font color="red">*</font>&nbsp;Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="26" required="required"
                                placeholder="Message" ng-model="contact.message" style="width:312px;height:190px;"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" id="btnContactUs" ng-click="saveMessage(contact)">
                            Send Message</button>
                    </div>
                </div>
                </form>
                </div>
<div class="panel panel-default site-panel-box" style="height:310px;width:330px;float:right;margin:26px;">
<div class="panel-body" style="padding:0px;">
<div id="address" class="text-center">
            <legend style="background-color:#5BC0DE;margin-bottom:30px;"><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong><font color="blue"">Blue Collar Hunt Inc.</font></strong><br>
                XXXX N First St, Suite ZZZ<br>
                San Jose, CA XXXXX<br>
                <abbr title="Phone">
                    Ph:</abbr>
                (408) xxx-xxxx
            </address>
            <address>
            <img width="300" height="120" src="http://maps.googleapis.com/maps/api/staticmap?center=san+jose&zoom=10&scale=false&size=190x145&maptype=roadmap&format=png&visual_refresh=true" alt="Google Map of san jose">
            </address>
        </div>
        </div>
        </div>
<div class="panel panel-default site-panel-box" style="width:1060px;height:120px;margin:370px 0 0 60px;">
<div class="panel-body" style="padding:10px;">
Welcome to Blue Collar Hunt Inc is a new trend setting corporation in the Blue Collar Job market industry which is located in San jose (South Bayarea). 
</div></div>

</div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div class="middle-box" style="margin-left:400px;">
</div>
</div></div></div></div></div>
<div class="copyright">
     <p>&copy; 2016 Blue Collar Hunt. All rights reserved.</p>
</div>
</footer>
</body>
</html>