<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Blue Collar Hunt Contact Page</title>
    <style>
		.jumbotron {
		background: #358CCE;
		color: #FFF;
		border-radius: 0px;
		}
		.jumbotron-sm { padding-top: 0px;
		padding-bottom: 0px; }
		.jumbotron small {
		color: #FFF;
		}
		.h4 small {
		font-size: 10px;
		}
	</style>
  </head>
<body>
<div class="navbar navbar-inverse" style="width:100%;height:50%;border:0px solid #000;background-color:#3399FF;margin-bottom:3px;">
 			 <div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" style="color:white;font-size:24px;padding-left:30px;font-weight:bold;">BlueCollarHunt</a>
    			</div>
    			<ul class="nav navbar-nav navbar-right">
    				<li class="color customLink" ng-show="currentUser != undefined && currentUser.userType == 'U' && currentUser.role == 'user'"><a href="/home" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a></li>
					<li class="color customLink" ng-show="currentUser != undefined && currentUser.userType == 'E' && currentUser.role != 'admin'"><a href="/empHome" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a></li>
					<li class="color customLink" ng-show="currentUser != undefined && currentUser.userType == 'U' && currentUser.role == 'admin'"><a href="/admin" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a></li>
					<li class="color customLink" ng-show="currentUser == undefined"><a href="/" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a></li>
					<li class="color customLink" ng-show="currentUser == undefined"><a href="/login" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Seeker</font></a></li>
					<li class="color customLink" ng-show="currentUser == undefined"><a href="/empSignIn" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Employer</font></a></li>
					<li class="color customLink" ng-show="currentUser == undefined"><a href="/adminLogin" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Admin</font></a></li>
					<li class="color customLink" ng-show="currentUser != undefined && currentUser.userType == 'U' && currentUser.role == 'user'"><a href="/profile" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Profile</font></a></li>
					<li class="color customLink" ng-show="currentUser != undefined && currentUser.userType == 'U' && currentUser.role == 'user'"><a href="/upload" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Upload</font></a></li>
					<li class="color customLink" ng-show="currentUser != undefined && currentUser.socialYN == 'Y' && currentUser.userType == 'U' && currentUser.role == 'user'"><a href="/socialContacts" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Socialize</font></a></li>
					<li class="color customLink" ng-show="currentUser != undefined && currentUser.userType == 'U' && currentUser.role == 'user'"><a href="/jobHistory" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Job History</font></a></li>
					<li class="color customLink active"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a></li>
					<li class="color customLink" ng-show="currentUser != undefined"><a href="" ng-click="logout()" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">SignOut</font></a></li>
    			</ul>
  			</div>
</div>
<div class="container" style="padding-left:0px;margin-bottom:-20px;">
<div class="row" style="height:201px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
		    <a href="/home" ng-show="currentUser != undefined && currentUser.userType == 'U' && currentUser.role == 'user'"><img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/></a>
		    <a href="/empHome" ng-show="currentUser != undefined && currentUser.userType == 'E'"><img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/></a>
		    <a href="/admin" ng-show="currentUser != undefined && currentUser.userType == 'U' && currentUser.role == 'admin'"><img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/></a>
		    <a href="/" ng-show="currentUser == undefined"><img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/></a>
<p style="font-size:24px;font-weight:bold;color:blue;margin:-80px 0px 0px 60px;">
	<marquee style=”height:20;width:200”scrollamount=”200”scrolldelay=”500”>
	NOTE : This is not yet a commercial web portal and just a DEMO Version. Also we doesn't exist as a company and this portal is created for academic purpose.
	</marquee>
</p>
</div></div></div></div></div>

<div class="container" style="padding-left:0px;margin-bottom:0px;">
<div class="row" style="height:616px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:610px;padding:20px;">
<br/>
<div class="panel panel-default site-panel-box" style="width:1110px;height:120px;margin:0px 0px 0px 20px;">
<div class="panel-body" style="padding:10px;">
Welcome to BlueCollarHunt Inc and we are new trend setting corporation in the Blue Collar Job market industry which is located in San jose (South Bayarea). We would love to hear your feedback about how we can make BlueCollarHunt better, or to hear about how its has worked for you!
<br><br>If you have a question about BlueCollarHunt, please use the email form below to contact us or call us on <strong style="color:blue">(800) XXX-XXXX (9am-9pm PT daily) </strong> or reach out on <strong style="color:blue">Twitter @BlueCollarHunt</strong>. 
</div></div>
<br/>
<div id="errMsgArea" ng-show="errorMsg" style="height:52px;width:740px;margin:0 0 0 20px;">
		<div class="panel-body" style="padding:0px;">
			<div class="form-group">
			<flash-message
    			duration="5000"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
		</div>
</div>
<div class="well well-sm" style="width:740px;height:310px;margin-left:20px;float:left;padding:20px;padding-top:20px;margin-top:10px;">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                <font color="red">*</font>&nbsp;Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" ng-model="contact.name" style="width:320px"/>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                <font color="red">*</font>&nbsp;Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" ng-model="contact.email" style="width:280px"/></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                <font color="red">*</font>&nbsp;Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required" ng-model="contact.subject" style="width:320px">
                                <option value="service">General Inquiry</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Technical Issues</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                <font color="red">*</font>&nbsp;Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="26" required="required"
                                placeholder="Message" ng-model="contact.message" style="width:334px;height:190px;resize:none;"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- <button class="btn btn-primary pull-right" id="btnContactUs" ng-click="saveMessage(contact)"> -->
                        <button class="btnCustom pull-right" style="width:158px;height:33px;padding:0px;border-radius:20px;margin-top:-10px;" ng-click="saveMessage(contact)">
                            Send Message</button>
                    </div>
                </div>
                </form>
                </div>
<div class="panel panel-default site-panel-box" style="height:310px;width:330px;float:right;margin-top:10px;">
<div class="panel-body" style="padding:10px;">
<div id="address" class="text-center">
            <legend style="background-color:#63c1ff;margin-bottom:30px;"><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong><font color="blue"">Blue Collar Hunt Inc.</font></strong><br>
                XXXX N First St, Suite ZZZ<br>
                San Jose, CA XXXXX<br>
                <abbr title="Phone">
                    Ph:</abbr>
                (408) xxx-xxxx
            </address>
            <address>
            <img width="300" height="120" src="https://maps.googleapis.com/maps/api/staticmap?center=san+jose&zoom=10&scale=false&size=190x145&maptype=roadmap&format=png&visual_refresh=true" alt="Google Map of san jose">
            </address>
        </div>
        </div>
        </div>
</div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;margin-bottom:-30px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="text-align:right;padding-top:45px;'">
<b style="font-size:16px;">Also please visit us at</b>&emsp;
<a target="_blank" href="http://www.facebook.com/bluecollarhunt" title="Facebook"><img style="width:64px;height:64px;" src="img/divi/facebook.png" alt="Social Divi"></a>
<a target="_blank" href="http://www.twitter.com/bluecollarhunt" title="Twitter"><img style="width:64px;height:64px;padding-left:0px;" src="img/divi/twitter.png" alt="Social Divi">
<a target="_blank" href="http://www.plus.google.com/bluecollarhunt" title="Google+"><img style="width:56px;height:56px;padding-left:0px;" src="img/divi/googleplus.jpeg" alt="Social Divi">
<a target="_blank" href="http://www.instagram.com/bluecollarhunt" title="Instagram"><img style="width:59px;height:55px;padding-left:5px;" src="img/divi/instagram.png" alt="Social Divi">
</div>
</div></div></div></div></div>
</footer>
<div style="width:100%;height:90px;border:0px solid #000;background-color:#3399FF;">
	<p class="copyright" style="padding-top:60px;color:white;font-size:15px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</body>
</html>