<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt User Profile Update Page</title>
    <style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}
</style>
  </head>
<body>
<ng-form id="register_form">
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
		 <a href="/home"><img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/></a>
	     <div style="width:111.5%;height:40px;border:0px solid #000;background-color:#3399FF;margin:-171px -62px 70px;">
		  <p style="text-align:right;padding:10px;margin: 0px 0px 0px 680px;" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">
		  	<span class="color customLink"><a href="/home" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a> | </span>
			<span class="color customLink"><a href="/profile" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Profile</font></a> | </span>
			<span class="color customLink"><a href="/upload" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Upload</font></a> | </span>
			<span class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a> | </span>
		  	<span class="color customLink"><a href="" ng-click="logout()" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">SignOut</font></a></span>
		  </p>
		</div>
</div></div></div></div></div>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:727px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:725px;">
<div class="middle-box" style="padding-top:25px;">
        <div class="panel-body" style="padding:0px;">
        
        <div id="errMsgArea" ng-show="errorMsg" class="panel panel-default site-panel-box" style="height:54px;">
		<div class="panel-body" style="padding:0px;">
			<div class="form-group">
			<flash-message
    			duration="5000"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
		</div>
		</div>
        
        <div class="panel panel-default site-panel-box" style="height:685px;">
		<div class="panel-body" style="padding:10px;">
			<div class="panel-heading" style="text-align:center;background-color:#5BC0DE;">
			<h5>Personal Information Update</h5>
			</div>
            <div class="form-group has-feedback" style="padding-top:10px;">
				<input type="text" ng-model="currentUser.email" class="form-control" placeholder="Email Address" ng-change="testUsername()" ng-disabled="true" style="width:300px">
				<i class="glyphicon glyphicon-user form-control-feedback" style="padding-top:10px;"></i>
			</div>
            <div class="form-group">
                <input id="fName" type="text" ng-model="currentUser.firstName" class="form-control" placeholder="First Name" data-toggle="tooltip" data-placement="top" data-original-title="Please use only letters for names" style="width:300px">
            </div>
            <div class="form-group">
                <input id="lName" type="text" ng-model="currentUser.lastName" class="form-control" placeholder="Last Name" style="width:300px">
            </div>
            <div class="form-group has-feedback">
                <input id="phonenumber" type="text" ng-model="currentUser.contactNum" class="form-control" placeholder="Mobile Number" style="width:300px" ng-blur="formatPhone(currentUser.contactNum)">
            	<i class="glyphicon glyphicon-phone form-control-feedback"></i>
            </div>
            <div class="form-group">
                <input type="text" id="zip" ng-model="currentUser.zipcode" class="form-control" placeholder="Zip Code" ng-change="testZipCode()" data-toggle="tooltip2" data-placement="top" data-original-title="Please use only numbers">
            </div>
            <div class="form-group">
                <input id="skill" type="text" ng-model="currentUser.primarySkill" class="form-control" placeholder="Primary Skill" style="width:300px">
            </div>
            <div class="form-group">
                <input type="radio" ng-model="currentUser.gender"  ng-value="M" style="align:left"><b>&nbsp;Male</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="currentUser.gender"  ng-value="F"><b>&nbsp;Female</b>
            </div>
            <div class="form-group">
                <input id="social" type="checkbox" ng-model="currentUser.socialYN"  ng-checked="isSocial" style="align:left;"><b>&nbsp;&nbsp;Connect with other applicants?</b>
            </div>
            <div class="form-group">
                <input id="active" type="checkbox" ng-model="currentUser.activeIn"  style="align:left;"><b style="color:red;">&nbsp;&nbsp;Deactivate Account</b>
            </div>
            <br/>
            <button ng-click="saveProfileInfo(currentUser)" ng-disabled="error" class="btn btn-info block full-width m-b">Save</button>
            <br/><br/>
            <button ng-click="deleteAccount(currentUser)" class="btn btn-danger block full-width m-b">Delete Account</button>
            <br/><br/>
            <a href="/home"><button class="btn btn-warning block full-width m-b">Cancel</button></a>
        </div>
        <p class="panel-footer" style="padding:0px 0px 28px 0px;"></p>
        </div></div>
</div>

<div id="profile" class="right-box text-center" style="margin:0 0 0 -340px;padding-top:70px;">
  <div class="panel panel-default site-panel-box" style="height:175px;width:200px;border:3px ridge #5BC0DE;margin-bottom:0px;">
	<div class="panel-body" style="padding:0px;">
		<!-- 
		<img ng-if="user.image != undefined" ng-src="{{user.image.src}}" style="height:171px;width:196px;"/>
		<img ng-show="noImage" src="img/preview.png" style="height:125px;width:160px;"/>
		 -->
		 <div id="profPicDisplay" class="dropdown">
  		<img ng-src="{{dataUrl | trustUrl}}" style="height:171px;width:196px;">
  		<div class="dropdown-content">
    	<img ng-src="{{dataUrl | trustUrl}}" style="height:215px;width:250px;">
    	<div class="desc">Blue Collar Profile Picture</div>
  		</div>
		</div>
	</div>
  </div>
  <h5 style="color:#5BC0DE;"><strong>Profile Picture</strong></h5>
</div>

<div id="info" class="right-box text-center" style="margin:220px 0 0 -360px;padding-top:60px;">
		<div class="panel panel-default site-panel-box" style="height:155px;width:364px;margin:0 0 10px 0px;margin-top:80px;">
		<div class="panel-body" style="padding:0px;">
		<div class="form-group">
		<ul style="font-size:12px;padding:10px 0 0px 20px;text-align:left;color:667C26;white-space:pre-line;"> <strong style="color:blue;font-size:14px">NOTE:</strong>
		<li style="padding-top:10px;">Once you select the deactivate and save the profile then you can come back anytime and re-activate the account.</li>
		<li>Clicking and Confirming Delete account permanently remove the user profile from the system and recovery will not be possible.</li>
		</ul>
		</div>
		</div>
		</div>
</div>

</div>

</div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="width:110.4%;height:40px;border:0px solid #000;background-color:#3399FF;margin:79px 0px 0px -56px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
</ng-form>
</body>
</html>