<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt Forgot Recovery Page</title>
  </head>
<body>
<div class="navbar navbar-inverse" style="width:100%;height:50%;border:0px solid #000;background-color:#3399FF;margin-bottom:3px;">
 			 <div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" style="color:white;font-size:24px;padding-left:30px;font-weight:bold;">BlueCollarHunt</a>
    			</div>
    			<ul class="nav navbar-nav navbar-right">
    				<li class="color customLink"><a href="/" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a></li>
					<li class="color customLink"><a href="/login" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Seeker</font></a></li>
					<li class="color customLink"><a href="/empSignIn" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Employer</font></a></li>
					<li class="color customLink active"><a href="/empForgetPasswd" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Forgot Password</font></a></li>
					<li class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a></li>
    			</ul>
  			</div>
</div>
<div class="container" style="padding-left:0px;margin-bottom:-20px;">
<div class="row" style="height:201px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
		 <img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/>
</div></div></div></div></div>
<div class="container" style="padding-left:0px;margin-bottom: 0px;">
<div class="row" style="height:626px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:620px;">
<div class="middle-box" style="margin-left:265px;">
<div class="panel-body" style="padding:10px;">
<div id="errMsgArea" ng-show="errorMsg" class="panel panel-default site-panel-box" style="height:55px;width:450px;">
<div class="panel-body" style="padding:0px;">
			<div class="form-group">
			<flash-message
    			duration="5000"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
</div>
</div>

<div class="panel panel-default site-panel-box" style="width:450px;height:494px;margin-top:10px;">
	<div class="panel-body" style="padding:4px;padding-bottom:20px;">
		<div class="wrapper">
			<form name="EmpLogin_Form" class="form-signin">       
			    <h3 class="form-signin-heading">Employer Password Recovery</h3>
				  <hr class="colorgraph"><br>
				  <input type="Radio" ng-model="emp.recoveryType"  value="Pass" name="recType" style="align:left"><b>&nbsp;Password</b>
                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="Radio" ng-model="emp.recoveryType"  value="EmpID" name="recType"><b>&nbsp;&nbsp;Unique EmpID</b>
				  <br/><br/>
				  <input type="text" id="userId" autofocus="true" ng-model="emp.email" class="form-control" style="width:350px" placeholder="User ID or Email" ng-required="true">
				  <br/><br/>
				  <button ng-click="empForgot(emp)" class="btn btn-primary block full-width m-b" style="width:280px">Reset Password</button>
            	  <br/><br/>
            	  <a class="btn btn-warning btn-block" href="/empSignIn">Cancel</a>	
			</form>			
		</div>
		<div class="panel-footer" style="margin-top:0.3%;padding:3%;text-align:center;border: 3px dotted rgba(0,0,0,0.1)"></div>
	</div>
</div>

</div>
</div>

<div id="info" class="right-box text-center" style="margin:0 0 0 -305px;padding-top:150px;">
	<div class="panel panel-default site-panel-box" style="height:168px;">
		<div class="panel-body" style="padding-top:10px;">
		<p style="margin:0px 0px 0px -11px;">
		Enter the email address associated with your account. We will email you a link to a page where you can reset 
		your password. For <strong>Employer Unique ID</strong>, it will be directly sent to your inbox.
		</p>
		<br/>
		</div>
		<div class="panel-footer" style="margin-top:-5px;height:27%;text-align:center;font-size:15px;">
			<a href="/contact"><u>Trouble Reset Password?</u></a>
		</div>
</div></div>
           
</div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;margin-bottom:-30px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
</div></div></div></div></div>
</footer>
<div style="width:100%;height:90px;border:0px solid #000;background-color:#3399FF;">
	<p class="copyright" style="padding-top:60px;color:white;font-size:15px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</body>
</html>