<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt Landing Page</title>
  </head>
<body>
<div class="navbar navbar-inverse" style="width:100%;height:50%;border:0px solid #000;background-color:#3399FF;margin-bottom:3px;">
 			 <div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" style="color:white;font-size:24px;padding-left:30px;font-weight:bold;">BlueCollarHunt</a>
    			</div>
    			<ul class="nav navbar-nav navbar-right">
    				<li class="color customLink active"><a href="/empHome" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a></li>
					<li class="color customLink"><a href="/empChangeProfile" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Change Profile</font></a></li>
					<li class="color customLink"><a href="/empChangePass" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Change Password</font></a></li>
		  			<li class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a></li>
		  			<li class="color customLink"><a href="" ng-click="logout()" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">SignOut</font></a></li>
    			</ul>
  			</div>
</div>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
            <img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/>
			<div style="text-align:right;margin:-40px 0px 0px 60px">
				<h4>Welcome to Blue Collar Hunt {{currentUser.name.toUpperCase()}}</h4>
			</div>
</div></div></div></div></div>

<div class="container" style="padding-left:0px;margin-top: -20px;">
<div class="row" style="height:697px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:720px;">
<div class="panel-body" style="padding:10px;">

<div class="panel panel-default site-panel-box" style="border: 3px ridge #5BC0DE;height:700px;width:870px;margin:0px 0px 0px 295px;">
<div class="panel-body" style="padding:0px;">
<div ng-show="isPostJob" style="float:none;padding-top:8px;">
				<div  style="border:4px solid #5BC0DE;width:846px;height:44px;margin-left:10px;">
				<h3 style="text-align:center;margin-top:5px;margin-bottom:0px;color:#63c1ff;" ng-show="!isUpdate">ADD JOB POSTING INFORMATION SCREEN</h3>
				<h3 style="text-align:center;margin-top:5px;margin-bottom:0px;color:#63c1ff;" ng-show="isUpdate">UPDATE JOB POSTING INFORMATION SCREEN</h3>
				</div>
				<br/>
				<table>
				<tr>
				<td style="padding-left:10px;">
				<label for="title"  style="font-size: 18px">* Job Title:</label>
				</td>
				<td style="padding-left:70px;">
                <input id="title" style="width: 350px; height: 38px" type="text" ng-model="job.title" class="form-control" placeholder="Enter Job Title" ng-change="addQueCorChoice=addQueCorChoice.toUpperCase();" ng-required="true">
            	</td>
            	</tr>
            	<tr style="line-height: 350%;">
            	<td style="padding-left:10px;">
				<label for="company"  style="font-size: 18px">* Company Name:</label>
				</td><td style="padding-left:70px;">
                <input id="company" style="width: 350px; height: 38px" type="text" ng-model="companyName.toUpperCase()" class="form-control" placeholder="Enter Company Name" ng-required="true">
            	</td>
            	</tr>
            	<tr style="line-height: 100%;">
            	<td style="padding-left:10px;">
				<label for="loc" style="font-size: 18px">* Job Location:</label>
				</td><td style="padding-left:70px;">
            	<input id="loc" type="text" id="Autocomplete" ng-model="job.location" style="width: 350px; height: 38px" class="form-control" placeholder="Enter Job Location" ng-autocomplete="result1" details="details1" options="options1" />
            	</td>
            	</tr>
				<tr style="line-height: 350%;"><td style="padding-left:10px;">
					<label for="rek" style="font-size: 18px">* Job Requirements:</label>
				</td>
				<td style="padding-left:70px;">
					<textarea id="rek" rows="5" cols="12" class="form-control"  ng-model="job.requirement" placeholder="Enter Job Requirement" ng-required="true" style="resize:none;"></textarea>
				</td>
				</tr>
				<tr style="line-height: 1230%;"><td style="padding-left:10px;">
				<label for="resp" style="font-size: 18px">* Job Responsibilities:</label>
				</td><td style="padding-left:70px;">
                <textarea id="resp" rows="5" cols="12" ng-model="job.responsibilities" class="form-control" placeholder="Enter Responsibilities" ng-blur="testQueChoice();" ng-required="true" style="width: 580px;resize:none;"></textarea>
            	</td></tr>
            	<tr style="line-height: 250%;"><td style="padding-left:10px;">
				<label for="rate" style="font-size: 18px">* Salary Rate:</label>
				</td><td style="padding-left:70px;">
                <input id="rate" style="width: 180px; height: 38px;display:inline;" type="text" ng-model="job.rate" class="form-control" placeholder="Enter Salary" ng-change="addQueCorChoice=addQueCorChoice.toUpperCase();" ng-required="true">
                <select name="salType" ng-model="job.salaryType" style="display:inline;width: 125px; height: 40px;">
			                <option>Per Day</option>
			                <option>Per Hour</option>
			                <option>Per Month</option>
			                <option>Per Year</option>
                </select>
            	</td></tr>
            	<tr style="line-height: 350%;"><td style="padding-left:10px;">
            	<label style="font-size: 18px">* Publish Job:</label>
            	</td><td style="padding-left:70px;">
                <!-- <input id="noActive" type="radio" ng-model="job.activeJob"  ng-value="0" style="align:left"><b>&nbsp;No</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="active" type="radio" ng-model="job.activeJob"  ng-value="1"><b>&nbsp;Yes</b> -->
                <label class="switch"><input id="publish" type="checkbox" ng-model="job.activeJob"><div class="slider round"></div></label>
                </td></tr>
            	</table>
            	<button ng-show="!isUpdate" style="width: 105px; height: 36px; font-size: 18px; margin: 10px 0px 0px 580px;padding:4px;margin-top:-20px" class="btnCustom"  ng-click="addJobInfo(job)">
				<span class="glyphicon glyphicon-ok-sign"></span>  Post
				</button>
				<button ng-show="isUpdate" style="width: 105px; height: 36px; font-size: 16px; margin: 10px 0px 0px 580px;padding:4px;margin-top:-20px" class="btnCustom"  ng-click="updateDetailJobInfo(job)">
				<span class="glyphicon glyphicon-ok-sign"></span>  Save
				</button>
				<button ng-show="!isUpdate" style="width: 105px; height: 36px; font-size: 18px; margin: 10px 0px 0px 10px;padding:4px;background:#f0ad4e;margin-top:-20px" class="btnCustom btn-warning" ng-click="jobInfoClear()">
				<span class="glyphicon glyphicon-remove-sign"></span>  Clear
				</button>
				<button ng-show="isUpdate" style="width: 105px; height: 36px; font-size: 16px; margin: 10px 0px 0px 10px;padding:4px;background:#f0ad4e;margin-top:-20px" class="btnCustom btn-warning" ng-click="getJobQueue(currentUser.email)">
				<span class="glyphicon glyphicon-remove-sign"></span>  Cancel
				</button>
</div>

<div ng-show="isJobQueue" style="text-align:left;margin:0 0 0 10px;padding-top:10px;">
			<div  style="border:4px solid #5BC0DE;width:846px;height:120px;">
			<h3 style="text-align:center;margin-top:5px;padding-bottom:20px;color:#63c1ff;">JOB QUEUE INFORMATION SCREEN</h3>
			<table>
				<tr>
				   <td nowrap style="padding-left:80px;">
					<label for="search" style="font-size: 18px;padding-left:25px;">Search Jobs:</label>
					</td>
					<td style="width:20px"></td>
					<td>
					<input id="search" class="form-control" style="width: 340px; height: 36px" type="text" ng-model="emp.search" placeholder="Search By Job ID or Title" ng-required="true">
					</td>
					<td style="padding-left:10px;">
					<button class="btnCustom" style="width:94px;height:33px;padding:0px;border-radius:20px;" ng-click="searchEmpJobs(emp.search)">
					Search
					</button>
					</td>
					<td style="padding-left:10px;">
					<a href="" ng-click="clear()"><button class="btnCustom" style="width:94px;height:33px;padding:0px;border-radius:20px;background: #f0ad4e;border: solid #f0ad4e 2px;background:#f0ad4e">Clear</button></a>
					</td>
				</tr>
			</table>	    
			</div>
			<p style="padding-top:0.1%;"/></p>
			<div  style="border:3px solid #5BC0DE;width:846px;" ng-show="allJobs.length >= 0">
			<table class="table table-striped" style="margin-bottom: 10px;">
				<thead>
				<tr style="background-color:#D3D3D3">
					<th>Job Title</th>
					<th>Job Location</th>
					<th>Salary</th>
					<th>Publish Job</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="job in allJobs">
					<td style="padding: 0px;padding-top: 10px;cursor: pointer;" ng-click="updateJobInfo(job)"><strong>{{job.title.toUpperCase()}}</strong></td>
					<td style="padding: 0px;padding-top: 10px;cursor: pointer;" ng-click="updateJobInfo(job)">{{job.location}}</td>
					<td style="padding: 0px;padding-top: 10px;cursor: pointer;" ng-click="updateJobInfo(job)">${{job.rate}} {{job.salaryType}}</td>
					 <!-- 
					 <td ng-if="job.activeJob == 'Y'"><button  class="btnCustom btn-info" ng-click="unPublish(job.jobID)" style="width: 105px; height: 34px; font-size: 18px; padding:0px;">
					 Un Publish 
					</button></td>
					<td ng-if="job.activeJob == 'N' || job.activeJob == undefined"><button class="btnCustom btn-info" ng-click="publish(job.jobID)" style="width: 105px; height: 34px; font-size: 18px; padding:0px;">
					</span>Publish 
					</button></td>
					-->
					<td ng-if="job.activeJob == 'Y'"><label class="switch"><input type="checkbox" checked ng-click="unPublish(job.jobID)"><div class="slider round"></div></label></td>
					<td ng-if="job.activeJob == 'N' || job.activeJob == undefined"><label class="switch"><input type="checkbox" ng-click="publish(job.jobID)"><div class="slider round"></div></label></td>
					<td><button  class="btnCustom btn-danger" ng-click="delete(job.jobID)" style="width: 70px; height: 34px; font-size: 18px; padding:0px;background:#d9534f">
					 <span class="glyphicon glyphicon-trash"></span> 
					</button></td>
				</tr>
				<tr ng-show="allJobs.length <= 0">
				<td colspan="5" align="center"><h4 style="color:red">No active Jobs available for {{currentUser.name.toUpperCase()}}</h4></td>
				</tr>
				</tbody>
			</table>
			<table class="table" style="margin-bottom:0px">
			<tbody>
			<tr ng-show="partialJobs.length > 0">
				<td></td><td></td><td></td><td></td><td></td>
				<td align="right">
				    <pagination 
				      ng-model="currentPage"
				      total-items="allEmpJobs.length"
				      max-size="maxSize"  
				      boundary-links="true">
				    </pagination>
				</td>
				</tr>
			</tbody>
			</table>
			</div>
</div>

<div ng-show="isJobTrack" style="text-align:left;margin:0 0 0 10px;padding-top:10px;">
		<div  style="border:4px solid #5BC0DE;width:843px;height:55px;">
		<h3 style="text-align:center;margin-top:10px;color:#63c1ff;">JOB TRACKING INFORMATION SCREEN</h3>
		</div>
		<br/>
		<div class="panel-group" style="padding-right:10px;padding-bottom:0px;" ng-show="jobTrackList.length > 0" id="accordion">
    		<div class="panel panel-default" ng-repeat="job in jobTrackList">
      			<div class="panel-heading" style="background:#63c1ff;">
        			<h4 class="panel-title">
          			<a data-toggle="collapse" style="text-decoration:none;" href="" ng-click="getCandidateList(job.jobID)" data-target="#collapse{{job.jobID}}" data-parent="#accordion">
          			<table><tr>
          			<td nowrap><strong>{{job.jobID}}</strong></td>
          			<td style="padding-left:30px;"><strong>{{job.title.toUpperCase()}}</strong></td>
          			<!-- <td><strong>{{job.location.toUpperCase()}}</strong></td>  -->
          			</tr></table>
          			</a>
        			</h4>
      			</div>
      		<div id="collapse{{job.jobID}}" class="panel-collapse collapse"> <!-- ng-repeat="candidate in jobSeekerList" -->
        		<ul class="list-group" ng-repeat="candidate in jobSeekerList">
		          <li class="list-group-item" style="font-size:16px;font-weight:bold;padding-left:20px;"><a href="" ng-click="displayCandidateProfile(candidate.email)">{{candidate.name.toUpperCase()}} - {{candidate.email}}</a></li>
        		</ul>
        		<ul class="list-group" ng-show="jobSeekerList == undefined">
		          <li class="list-group-item" style="font-size:14px;font-weight:bold;padding-left:20px;">No Candidates Applied for this Job.</li>
        		</ul>
      		</div>
  		</div>
  		</div>
</div>

<div ng-show="isCandidateSearch" style="text-align:left;margin:0 0 0 10px;padding-top:10px;">
			<div  style="border:4px solid #5BC0DE;width:846px;height:120px;">
			<h3 style="text-align:center;margin-top:5px;padding-bottom:20px;color:#63c1ff;">CANDIDATE SEARCH SCREEN</h3>
			<table>
				<tr>
				   <td nowrap style="padding-left:80px;">
					<label for="search" style="font-size: 18px;padding-left:25px;">Search Jobs:</label>
					</td>
					<td style="width:20px"></td>
					<td>
					<input id="search" class="form-control" style="width: 340px; height: 36px" type="text" ng-model="emp.search" placeholder="Search By Job Title" ng-required="true">
					</td>
					<td style="padding-left:10px;">
					<button class="btnCustom" style="width:94px;height:33px;padding:0px;border-radius:20px;" ng-click="searchCandidateInfo(emp.search)">
					Search
					</button>
					</td>
					<td style="padding-left:10px;">
					<a href="" ng-click="clearCandidates()"><button class="btnCustom" style="width:94px;height:33px;padding:0px;border-radius:20px;background: #f0ad4e;border: solid #f0ad4e 2px;background:#f0ad4e">Clear</button></a>
					</td>
				</tr>
			</table>	    
			</div>
			<p style="padding-top:0.1%;"/></p>
			<div  style="border:3px solid #5BC0DE;width:846px;" ng-show="allCandidates.length >= 0">
			<table class="table table-striped" style="margin-bottom: 10px;">
				<thead>
				<tr style="background-color:#D3D3D3">
					<th>First Name</th>
					<th>Last Name</th>
					<th>Zipcode</th>
					<th>Skill</th>
					<th>Contact Number</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="candidate in allCandidates" ng-click="displayCandidateProfile(candidate.email)" style="padding-top: 10px;cursor: pointer;">
					<td style="padding: 10px;"><strong>{{candidate.firstName}}</strong></td>
					<td style="padding: 10px;">{{candidate.lastName}}</td>
					<td style="padding: 10px;">{{candidate.zipcode}}</td>
					<td style="padding: 10px;">{{candidate.primarySkill}}</td>
					<td style="padding: 10px;">{{candidate.contactNum}}</td>
				</tr>
				<tr ng-show="allCandidates.length <= 0">
				<td colspan="5" align="center"><h4 style="color:red">No Candidate Profiles available for Job "{{emp.search}}"</h4></td>
				</tr>
				</tbody>
			</table>
			<table class="table" style="margin-bottom:0px">
			<tbody>
			<tr ng-show="partialCandidates.length > 0">
				<td></td><td></td><td></td><td></td><td></td>
				<td align="right">
				    <pagination 
				      ng-model="currentPage"
				      total-items="allEmpCandidates.length"
				      max-size="maxSize"  
				      boundary-links="true">
				    </pagination>
				</td>
				</tr>
			</tbody>
			</table>
			</div>
</div>

</div></div></div>

<div class="panel panel-default site-panel-box" style="border: 3px ridge #5BC0DE;height:700px;width:290px;background-color:#3399FF;margin:-710px 0px 0px 10px;">
<div class="panel-body" style="padding:0px;padding-top:5px;">
<div style="text-align: center">
		<br>
		<div class="form-group">
		<!-- <button class="btn-info full-width m-b" style="width:145px;height:45px;" ng-click="displayJobEntry()"><span class="customSpan">Post Job</span></button> -->
		<div class="clickDiv" style="padding: 5px;cursor: pointer;font-size:24px;" ng-click="displayJobEntry()"><font style="color:#e1ffff">Post Job</font></div>
		<hr style="display: block;margin-top: 0.1em;margin-bottom: 0.1em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;"/>
		<br>
		<!-- <button class="btn-info full-width m-b" style="width:145px;height:45px;" ng-click="getJobQueue(currentUser.email)"><span class="customSpan">Job Queue</span></button>-->
		<div class="clickDiv" style="padding: 5px;cursor: pointer;font-size:24px;" ng-click="getJobQueue(currentUser.email)"><font style="color:#e1ffff">Job Queue</font></div>
		<hr style="display: block;margin-top: 0.1em;margin-bottom: 0.1em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;"/>
		<br>
		<!-- <button class="btn-info full-width m-b" style="width:145px;height:45px;" ng-click="getJobTracking(currentUser.email)"><span class="customSpan">Job Track</span></button>-->
		<div class="clickDiv" style="padding: 5px;cursor: pointer;font-size:24px;" ng-click="getJobTracking(currentUser.email)"><font style="color:#e1ffff">Job Track</font></div>
		<hr style="display: block;margin-top: 0.1em;margin-bottom: 0.1em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;"/>
		<br/>
		<div class="clickDiv" style="padding: 5px;cursor: pointer;font-size:24px;" ng-click="searchByCategory()"><font style="color:#e1ffff">Candidate Search</font></div>
		<hr style="display: block;margin-top: 0.1em;margin-bottom: 0.1em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;"/>
		</div>
	</div>
</div>
</div>
</div>
</div></div></div></div>
<footer style="padding-top:30px;">
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;margin-bottom:-13px;">
<div class="panel-body" style="padding:55px;">
</div></div></div></div></div>
</footer>
<div style="width:100%;height:90px;border:0px solid #000;background-color:#3399FF;">
	<p class="copyright" style="padding-top:60px;color:white;font-size:15px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</body>
</html>