<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt Landing Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
            <img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/>
			<div style="width:111.5%;height:40px;border:0px solid #000;background-color:#3399FF;margin:-171px -61px 70px;">
			<p style="align:right;padding:10px;margin: 0px 0 0px 780px;">
			<a href="/changePassword" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Change Password</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	<a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	<a href="" ng-click="logout()" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">SignOut</font></a>
			</p>
			</div>
			<div style="text-align:right">
				<h4>Welcome to Blue Collar Hunt {{currentUser.firstName}}</h4>
			</div>
</div></div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row" style="height:640px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:664px;">
<div class="panel-body" style="padding:10px;">

<div class="panel panel-default site-panel-box" style="border: 3px ridge #5BC0DE;height:642px;width:870px;margin:0px 0px 0px 295px;">
<div class="panel-body" style="padding:0px;">
<div ng-show="isPostJob">
				<div class="form-group">
				<p style="font-size: 18px; font-weight: bold" ng-show="!isUpdate">Add Job Posting Information: </p>
				<p style="font-size: 18px; font-weight: bold" ng-show="isUpdate">Update Job Posting Information: <font color="blue">{{job.jobID}}</font></p>
				</div>
				<div class="form-group">
				<label for="title" class="col-sm-4" style="font-size: 14px">* Job Title:</label>
				<div class="form-group col-sm-8">
                <input id="title" style="width: 280px; height: 30px" type="text" ng-model="job.title" class="form-control" placeholder="Enter Job Title" ng-change="addQueCorChoice=addQueCorChoice.toUpperCase();" ng-required="true">
            	</div>
            	</div>
            	<div class="form-group">
				<label for="company" class="col-sm-4" style="font-size: 14px">* Company Name:</label>
				<div class="form-group col-sm-8">
                <input id="company" style="width: 280px; height: 30px" type="text" ng-model="companyName" class="form-control" placeholder="Enter Company Name" ng-required="true">
            	</div>
            	</div>
            	<div class="form-group">
				<label for="loc" class="col-sm-4" style="font-size: 14px">* Job Location:</label>
				<div class="form-group col-sm-8">
            	<input id="loc" type="text" id="Autocomplete" ng-model="job.location" style="width: 280px; height: 30px" class="form-control" placeholder="Enter Job Location" ng-autocomplete="result1" details="details1" options="options1" />
            	<i class="glyphicon glyphicon-map-marker form-control-feedback" style="margin: -2px 275px 0px 0px"></i>
            	</div>
            	</div>
				<div class="form-group">
					<label for="rek" class="col-sm-4" style="font-size: 14px">* Job Requirements:</label>
					<div class="form-group col-sm-8">
						<textarea id="rek" rows="5" cols="5" class="form-control"  ng-model="job.requirement" placeholder="Enter Job Requirement" ng-required="true"></textarea>
					</div>
				</div>
				<br><br>
				<div class="form-group">
				<label for="resp" class="col-sm-4" style="font-size: 14px">* Job Responsibilities:</label>
				<div class="form-group col-sm-8">
                <textarea id="resp" rows="5" cols="5" ng-model="job.responsibilities" class="form-control" placeholder="Enter Responsibilities" ng-blur="testQueChoice();" ng-required="true"></textarea>
            	</div>
            	</div>
            	<br><br>
            	<div class="form-group">
				<label for="rate" class="col-sm-4" style="font-size: 14px">* Salary Rate:</label>
				<div class="form-group col-sm-6">
                <input id="rate" style="width: 140px; height: 30px;display:inline;" type="text" ng-model="job.rate" class="form-control" placeholder="Enter Salary" ng-change="addQueCorChoice=addQueCorChoice.toUpperCase();" ng-required="true">
                <select name="salType" ng-model="job.salaryType" style="display:inline;width: 110px; height: 35px;">
			                <option>Per Day</option>
			                <option>Per Hour</option>
			                <option>Per Month</option>
			                <option>Per Year</option>
                </select>
            	</div>
            	</div>
            	<div class="form-group">
            	<label class="col-sm-4" style="font-size: 14px">* Publish Job:</label>
            	<div class="form-group col-sm-8">
                <input id="noActive" type="radio" ng-model="job.activeJob"  ng-value="0" style="align:left"><b>&nbsp;No</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="active" type="radio" ng-model="job.activeJob"  ng-value="1"><b>&nbsp;Yes</b>
                </div>
            	</div>
            	<br/><br/>
            	<button ng-show="!isUpdate" style="width: 92px; height: 36px; font-size: 14px; margin: 10px 0px 0px 530px;" class="btn-primary"  ng-click="addJobInfo(job)">
				<span class="glyphicon glyphicon-ok-sign"></span>  Post
				</button>
				<button ng-show="isUpdate" style="width: 92px; height: 36px; font-size: 14px; margin: 10px 0px 0px 530px" class="btn-primary"  ng-click="updateDetailJobInfo(job)">
				<span class="glyphicon glyphicon-ok-sign"></span>  Save
				</button>
				<button ng-show="!isUpdate" style="width: 92px; height: 36px; font-size: 14px; margin: 10px 0px 0px 10px" class="btn-warning" ng-click="jobInfoClear()">
				<span class="glyphicon glyphicon-remove-sign"></span>  Clear
				</button>
				<button ng-show="isUpdate" style="width: 92px; height: 36px; font-size: 14px; margin: 10px 0px 0px 10px" class="btn-warning" ng-click="getJobQueue(currentUser.email)">
				<span class="glyphicon glyphicon-remove-sign"></span>  Cancel
				</button>
</div>

<div ng-show="isJobQueue" style="text-align:left;margin:0 0 0 10px;">
		<br/>
				<div  style="border:2px solid #5BC0DE;width:846px;" ng-show="allJobs.length >= 0">
			<table class="table table-striped" style="margin-bottom: 10px;">
				<thead>
				<tr style="background-color:#D3D3D3">
					<th>Job Title</th>
					<th>Job Location</th>
					<th>Salary</th>
					<th>Publish Job</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="job in allJobs">
					<td style="padding: 0px;cursor: pointer;" ng-click="updateJobInfo(job)"><strong>{{job.title}}</strong></td>
					<td style="padding: 0px;cursor: pointer;" ng-click="updateJobInfo(job)">{{job.location}}</td>
					<td style="padding: 0px;cursor: pointer;" ng-click="updateJobInfo(job)">${{job.rate}} {{job.salaryType}}</td>
					 <td ng-if="job.activeJob == 'Y'"><button  class="btn btn-info" ng-click="unPublish(job.jobID)">
					<span class="glyphicon glyphicon-eye-open"></span>Un Publish 
					</button></td>
					<td ng-if="job.activeJob == 'N' || job.activeJob == undefined"><button  class="btn btn-info" ng-click="publish(job.jobID)">
					<span class="glyphicon glyphicon-eye-open"></span>Publish 
					</button></td>
					<td><button  class="btn btn-info" ng-click="delete(job.jobID)">
					<span class="glyphicon glyphicon-eye-open"></span>Remove 
					</button></td>
				</tr>
				<tr ng-show="allJobs.length <= 0">
				<td colspan="5" align="center"><h4 style="color:red">No Jobs available for {{currentUser.name}}</h4></td>
				</tr>
				</tbody>
			</table>
			<table class="table" style="margin-bottom:0px">
			<tbody>
			<tr ng-show="partialJobs.length > 0">
				<td></td><td></td><td></td><td></td><td></td>
				<td align="right">
				    <pagination 
				      ng-model="currentPage"
				      total-items="allEmpJobs.length"
				      max-size="maxSize"  
				      boundary-links="true">
				    </pagination>
				</td>
				</tr>
			</tbody>
			</table>
			</div>
</div>

</div></div>

<div class="panel panel-default site-panel-box" style="border: 3px ridge #5BC0DE;height:642px;width:290px;background-color:#3399FF;margin:-642px 0px 0px 0px;">
<div class="panel-body" style="padding:0px;padding-top:5px;">
<div style="text-align: center">
		<br>
		<div class="form-group">
		<!-- <button class="btn-info full-width m-b" style="width:145px;height:45px;" ng-click="displayJobEntry()"><span class="customSpan">Post Job</span></button> -->
		<div style="padding: 0px;cursor: pointer;font-size:24px;" ng-click="displayJobEntry()"><strong>Post Job</strong></div>
		<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;"/>
		<br>
		<!-- <button class="btn-info full-width m-b" style="width:145px;height:45px;" ng-click="getJobQueue(currentUser.email)"><span class="customSpan">Job Queue</span></button>-->
		<div style="padding: 0px;cursor: pointer;font-size:24px;" ng-click="getJobQueue(currentUser.email)"><strong>Job Queue</strong></div>
		<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;"/>
		<br>
		<!-- <button class="btn-info full-width m-b" style="width:145px;height:45px;" ng-click="getJobTracking(currentUser.email)"><span class="customSpan">Job Track</span></button>-->
		<div style="padding: 0px;cursor: pointer;font-size:24px;" ng-click="getJobTracking(currentUser.email)"><strong>Job Track</strong></div>
		<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;"/>
		</div>
	</div>
</div>
</div>
</div>
</div></div></div></div>
<footer style="padding-top:30px;">
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="width:110.4%;height:40px;border:0px solid #000;background-color:#3399FF;margin:79px 0px 0px -56px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
</body>
</html>