<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt Employer Registration Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
		 <img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="75" style="margin:10px 0px 0px -60px"/>
	     <div style="width:111.5%;height:40px;border:0px solid #000;background-color:#3399FF;margin:-151px -62px 70px;">
		  <p style="align:right;padding:10px;margin: 0px 0 0px 780px;">
		  	<a href="/" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/login" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Seeker</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/empSignIn" style="text-decoration: none" ><font style="text-align:center;" size="4" color="white">Employer</font></a>
		  </p>
		</div>
</div></div></div></div></div>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:646px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:650px;">
<div class="middle-box" style="margin:0 390px auto">
	<div class="panel-body" style="padding:0px;">
	
	<div id="errMsgArea" ng-show="errorMsg" class="panel panel-default site-panel-box" style="height:54px;">
		<div class="panel-body" style="padding:0px;">
			<div class="form-group">
			<flash-message
    			duration="5000"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
		</div>
		</div>
	
	<div class="panel panel-default site-panel-box" style="height:525px;">
		<div class="panel-body" style="padding:10px;">
			<div class="panel-heading" style="text-align:center;background-color:#5BC0DE;">
			<h3 class="panel-title">Employer Registration Form</h3>
			</div>
			<!-- 
            <div class="form-group has-feedback" style="padding-top:10px;">
				<input type="text" ng-model="emp.uid" class="form-control controls-width" placeholder="Employer User ID" style="width:280px">
				<i class="glyphicon glyphicon-user form-control-feedback" style="padding-top:10px;"></i>
			</div>
			-->
			<div class="form-group has-feedback" style="padding-top:10px;">
				<input type="text" ng-model="emp.email" class="form-control" placeholder="Email Address" ng-change="" style="width:302px">
				<i class="glyphicon glyphicon-envelope form-control-feedback" style="padding-top:10px;"></i>
			</div>
			<div class="form-group">
                <input type="text" ng-model="emp.name" class="form-control" placeholder="Employer Name" style="width:302px">
            </div>
            <div class="form-group has-feedback">
                <input type="text" id="phone" ng-model="emp.contactNum" class="form-control" placeholder="Contact Number" ng-blur="formatContactNum(emp)" style="width:302px">
            	<i class="glyphicon glyphicon-phone form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <!-- 
                <input type="text" ng-model="emp.address1" class="form-control" placeholder="Address" style="width:300px">
            	<i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
            	-->
            	<input type="text" ng-model="emp.address1" style="width:302px" class="form-control" placeholder="Address" ng-autocomplete="result1" details="details1" options="options1" />
            	<i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <span class="{{myClass}}"><input type="password" ng-model="emp.passwd1" class="form-control" placeholder="New Password" ng-change="testPassword()" style="width:302px" ng-blur="hidePassPol()" ng-focus="showPassPol()"></span>
            	<i class="glyphicon glyphicon-lock form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <span class="{{myClass}}"><input type="password" ng-model="emp.passwd2" ng-change="testPassword2()" class="form-control" placeholder="Confirm Password" style="width:302px" ng-blur="hidePassPol()" ng-focus="showPassPol()"></span>
            	<i class="glyphicon glyphicon-lock form-control-feedback"></i>
            </div>
            <div class="form-group">
                <input type="Radio" ng-model="emp.amount"  ng-value="0" style="align:left" ng-click="disableCardInfo(emp)"><b>&nbsp;Free Trial</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="Radio" ng-model="emp.amount"  ng-value="1999" ng-click="disableCardInfo(emp)"><b>&nbsp;$19.99/mo</b>
            </div>
            <br/>
            <button ng-click="empRegister(emp)" ng-disabled="error" class="btn btn-info block full-width m-b">Register</button>
            <br/><br/>
            <button ng-click="empClear(emp)" ng-disabled="error" class="btn btn-info block full-width m-b">Clear</button>
      </div></div>
     </div>
</div>
<div id="cardInfo">
<div id="social" class="right-box text-center" style="margin:0 0 0 -350px;padding-top:50px;">
		<div class="panel panel-default site-panel-box" style="height:270px;">
		<div class="panel-body" style="padding:10px;">
        <div class="panel-heading display-table" style="background-color:#5BC0DE;">
                    <div class="row display-tr">
                        <h3 class="panel-title display-td" >Payment Details</h3>
                        <div class="display-td" >                            
                            <img class="img-responsive pull-right" src="img/credit_cards.png">
                        </div>
                    </div>                    
                </div>
                <div class="panel-body" style="padding:10px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group" style="padding-top:10px;">
                                    
                                    <div class="input-group">
                                        <input 
                                            type="tel"
                                            id="cardNum"
                                            class="form-control"
                                            ng-model="emp.cardNumber"
                                            ng-change="formatCC()"
                                            placeholder="Valid Card Number"
                                            autocomplete="cc-number"
                                            required autofocus 
                                        />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    
                                    <input 
                                        type="tel" 
                                        class="form-control" 
                                        id="expiry"
                                        ng-model="emp.cardExpiry"
                                        ng-change="formatExpiry()"
                                        placeholder="MM / YYYY"
                                        autocomplete="cc-exp"
                                        required 
                                    />
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    
                                    <input 
                                        type="tel" 
                                        class="form-control"
                                        id="cvc"
                                        ng-model="emp.cvc"
                                        ng-change="formatCVC()"
                                        placeholder="CVC"
                                        autocomplete="cc-csc"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="emp.cardName" placeholder="Name on the card"/>
                                </div>
                            </div>                        
                        </div>
                        <div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<input type="checkbox" ng-checked=true
									ng-model="emp.saveCC" ng-value=true> <font color="blue"><b>Save card details for future payments.</b></font>
							</div>
						</div>
					</div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                </div>
            </div> 
            </div></div>
            </div> 

<div id="PassPolicy" class="right-box text-center" style="margin:300px 0 0 -380px;">
		<div class="panel panel-default site-panel-box" style="height:155px;width:360px;margin:0 0 0px -20px;margin-top:80px;">
		<div class="panel-body" style="padding:0px;">
		<div class="form-group">
		<ul style="font-size:12px;padding:10px 0 0px 30px;text-align:left;color:667C26;"> <strong style="color:blue;">Password Tips :</strong>
		<li style="padding-top:10px;">Password must be at least 6 characters.</li>
		<li>Enter a combination of at least six numbers,<br>letters and punctuation marks.</li>
		<li>Password may not not too obvious.</li>
		<li>Password must contain at least two of the following: <br><strong>uppercase or lowercase letters, numbers and symbols.</strong></li>
		</ul>
		</div>
		</div>
		</div>
</div>

</div>
</div></div></div>
<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="width:110.4%;height:40px;border:0px solid #000;background-color:#3399FF;margin:79px 0px 0px -56px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
</body>
</html>