<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt Employer Login Page</title>
  </head>
<body>
<div class="navbar navbar-inverse" style="width:100%;height:50%;border:0px solid #000;background-color:#3399FF;margin-bottom:3px;">
 			 <div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" style="color:white;font-size:24px;padding-left:30px;font-weight:bold;">BlueCollarHunt</a>
    			</div>
    			<ul class="nav navbar-nav navbar-right">
    				<li class="color customLink"><a href="/" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a></li>
					<li class="color customLink"><a href="/login" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Seeker</font></a></li>
					<li class="color customLink active"><a href="/empSignIn" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Employer</font></a></li>
					<li class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a></li>
    			</ul>
  			</div>
</div>
<div class="container" style="padding-left:0px;margin-bottom:-20px;">
<div class="row" style="height:201px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
		<img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/>
</div></div></div></div></div>
<div class="container" style="padding-left:0px;margin-bottom:0px;">
<div class="row" style="height:676px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:670px;">
<div class="middle-box" style="margin-left:280px;">
<div class="panel-body" style="padding:10px;">

		<div id="errMsgArea" ng-show="errorMsg" style="height:60px;width:450px;">
			<div class="form-group">
			<flash-message
    			duration="5000"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
		</div>
		<br>
		<div class="panel panel-default site-panel-box" style="width:450px;height:550px;margin-top:-20px;">
	<div class="panel-body" style="padding:4px;padding-bottom:20px;">
		<div class="wrapper">
			<form name="EmpLogin_Form" class="form-signin">       
			    <h3 class="form-signin-heading">Employer Login Page</h3>
				  <hr class="colorgraph"><br>
				  <input type="text" ng-model="user.email" class="form-control" autofocus="true" style="width:350px;" placeholder="Emp User Email" ng-change="testLoginName()" ng-required="true">
				  <input type="password" ng-model="user.password" ng-keydown="pressEnter($event,user)" class="form-control" placeholder="Password" ng-change="testPassword()" ng-required="true" style="width:350px;">
				  <input type="text" ng-model="user.empUniqueID" class="form-control" style="width:350px;" placeholder="Emp Unique ID" ng-required="true">
				  <br/><br/>
				  <button ng-click="empLogin(user)" class="btn btn-primary block full-width m-b">Jump In</button>
            	  <br/><br/>
            	  <a class="btn btn-info block full-width m-b" href="/empRegister">Register</a>	
			</form>			
		</div>
		<div class="panel-footer" style="margin-top:0.3%;padding:3%;text-align:center;border: 3px dotted rgba(0,0,0,0.1)"><a href="/empForgetPasswd"><strong><u>Recover password or Unique ID?</u></strong></a></div>
	</div>
</div>
		</div>
</div>
<div id="social" class="right-box text-center" style="margin:30px 0 0 -310px;padding-top:40px;">
		<div class="panel panel-default site-panel-box" style="height:250px;width:360px;margin-top:80px;">
		<div class="panel-body" style="padding:0px;">
		<div class="wrapper form-signin" style="padding:30px 38px 35px">
		<p style="font-size:16px;">
		<strong>BlueCollarHunt helps millions of employers find the right fit every day. Start hiring now on the world's best blue collar job site.</strong>
		</p>
		</div>
		<div class="panel-footer" style="margin-top:0px;height:46%;text-align:center;font-size:14px;border: 3px dotted rgba(0,0,0,0.1)">
		<p style="margin:0px -10px 0px -15px">
		    <input type="checkbox" checked/>
			By Signing Up, I agree to BlueCollarHunt Terms of Service,Privacy Policy and other Terms related to Usage agreement.
		</p>
		</div>
		</div>
		</div>
</div>
</div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;margin-bottom:-30px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
</div></div></div></div></div>
</footer>
<div style="width:100%;height:90px;border:0px solid #000;background-color:#3399FF;">
	<p class="copyright" style="padding-top:60px;color:white;font-size:15px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</body>
</html>