<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt Forgot Recovery Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
			<img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/>
			<div style="width:111.5%;height:40px;border:0px solid #000;background-color:#3399FF;margin:-171px -62px 70px;">
				<p style="text-align:right;padding:10px;margin: 0px 0px 0px 680px;" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">
					<span class="color customLink"><a href="/" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a> | </span>
					<span class="color customLink"><a href="/login" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Seeker</font></a> | </span>
					<span class="color customLink"><a href="/empSignIn" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Employer</font></a> | </span>
					<span class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a></span>
		  		</p>
			</div>
</div></div></div></div></div>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:556px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:550px;padding-top:20px;">
<div class="middle-box">
<div class="panel-body" style="padding:10px;">

<div id="errMsgArea" ng-show="errorMsg" style="height:44px;">
<div class="panel-body" style="padding:0px;">
			<div class="form-group">
			<flash-message
    			duration="5000"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
</div>
</div>
<br/>
<div class="panel panel-default site-panel-box" style="height:374px;">
	<div class="panel-body" style="padding:10px;padding-bottom:30px;">
			<div class="panel-heading" style="text-align:center;background-color:#5BC0DE;">
			<h5>Password Assistance for User</h5>
			</div>
			<hr/>
			<div class="form-group has-feedback" style="padding-top:10px;">
				<span class="icon-user"></span>
                <input type="text" id="userId" autofocus="true" ng-model="email" class="form-control" style="width:280px" placeholder="Username or Email" ng-required="true">
            	<i class="glyphicon glyphicon-user form-control-feedback"  style="padding-top:10px;"></i>
            </div>
			<div style="padding-top:30px;">
            <button ng-click="forgot(email)" class="btn btn-primary block full-width m-b" style="width:280px">Reset Password</button>
            <br/><br/>
            <a class="btn btn-warning btn-block" href="/login">Cancel</a>
            </div>
	</div>
	<hr/>
     <div class="panel-footer" style="margin-top:-30px;height:11.8%;text-align:center;"><a href="/actUserAcct"><u><strong>Re-Activate Account?</strong></a></u></div>
</div>

</div>
</div>

<div id="info" class="right-box text-center" style="margin:0 0 0 -365px;padding-top:140px;">
	<div class="panel panel-default site-panel-box" style="height:139px;">
		<div class="panel-body" style="padding-top:10px;">
		<p style="margin:0px 0px 0px -11px;">
		Enter the email address associated with your account. We will email you a link to a page where you can reset 
		your password.
		</p>
		<br/>
		</div>
		<div class="panel-footer" style="margin-top:-5px;height:27%;text-align:center;font-size:15px;">
			<a href="/contact"><u>Trouble Reset Password?</u></a>
		</div>
</div></div>

</div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="width:110.4%;height:40px;border:0px solid #000;background-color:#3399FF;margin:79px 0px 0px -56px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
</body>
</html>