<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Blue Collar Hunt Home Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
			<a href="/home"><img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/></a>
			<div style="width:111.5%;height:40px;border:0px solid #000;background-color:#3399FF;margin:-171px -61px 0px -60px;">
			<p style="align:right;padding:10px;margin: 0px 0 0px 725px;">
			<a href="/profile" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Profile</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" ng-click="uploadCV()" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Upload</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/socialContacts"  style="text-decoration: none" ng-show="currentUser.socialYN == 'Y'"><font style="text-align:center;" size="4" color="white">Socialize</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a>
			</p>
			</div>
			<div style="text-align:center;margin: 60px 0px 0px 70px;">
			<div class="form-group has-feedback" style="display:inline-block;">
                <input type="text" ng-model="user.search" class="form-control" style="width:280px" placeholder="Jobs" ng-change="testLoginName()" ng-required="true">
            	<i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback" style="display:inline-block;">
            	<input type="text" id="Autocomplete" ng-model="user.location" style="width:280px" class="form-control" placeholder="Location" ng-autocomplete="result1" details="details1" options="options1" />
            	<i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
            </div>
            <div class="form-group" style="display:inline-block;">
            <!-- <input type="image" src="img/search.png" alt="Submit" width="45" height="48" style="padding-bottom:15px;" ng-click="search(user.search)"> -->
            <button class="btnCustom" style="width:115px;height:30px;padding:0px 20px 10px 20px;margin:0px 0px 0px 10px;" ng-click="search(user.search)"><span class="customSpan">Search</span></button>
            </div>
            <div class="navbar-header pull-right">
			          <ul class="nav pull-left">
			            <!-- This works well for static text, like a username -->
			            <li class="navbar-text pull-left">
			            	
			            </li>
			            <!-- Add any additional bootstrap header items.  This is a drop-down from an icon -->
			            <li class="dropdown pull-right">
			              <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 0px; padding:0px;" class="dropdown-toggle">
			              	<!-- <img class="profileImage" ng-src="{{dataImgUrl | trustUrl}}"/> -->
			              	<strong style="font-size:15px;color:black;">Welcome {{currentUser.lastName}}</strong>
			              	<b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li>
			                  <a href="" ng-click="editProfileInfo()" title="Profile">Change Profile</a>
			                </li>
			                <li>
			                  <a href="/changePassword" title="Profile">Change Password</a>
			                </li>
			                <li>
			                  <a href="" title="Logout" ng-click="logout()">SignOut</a>
			                </li>
			              </ul>
			            </li>
			          </ul>
			      </div>
          </div> 
</div></div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row" style="height:612px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:606px;">
<div class="panel-body" style="padding:10px;">

<div class="panel panel-default site-panel-box" style="border: 3px ridge #5BC0DE;height:585px;width:708px;margin:0 0 0 455px;">
<div class="panel-body" style="padding:0px;">
<div style="text-align:left;margin:0 0 0 20px; " ng-show="jobResults == 2 && jobInfo">
			<h3 style="color:#3399FF">{{jobInfo.title}} ({{jobInfo.jobID}})
			<button style="width: 115px; height: 35px; font-size: 16px;margin:20px 0px 0px 160px" class="btn btn-primary"  ng-click="uploadAndApply()" ng-disabled="">
				<span class="glyphicon"></span>  APPLY
			</button></a>
			</h5>
			<h4>{{jobInfo.companyName}}, {{jobInfo.location}}</h4>
			<br/>
			<h4 style="color:#3399FF;"><strong>Responsibilities :</strong></h4>
			<h5 style="white-space: pre-line;">{{jobInfo.responsibilities}}</h5>
			<br/>
			<h4 style="color:#3399FF"><strong>Requirement : </strong></h4>
			<h5 style="white-space: pre-line;">{{jobInfo.requirement}}</h5>
			<br/>
			<h5><strong>Salary Rate : </strong>${{jobInfo.rate}} {{jobInfo.salaryType}}</h5>
</div>
</div></div>

<div class="panel panel-default site-panel-box" style="border: 3px ridge #5BC0DE;height:585px;width:450px;background-color:#3399FF;margin:-585px 0 0 0;">
<div class="panel-body" style="padding:0px;padding-top:5px;" ng-repeat="job in jobsList">
<div ng-show="searchResults == 1">
<div style="padding: 0px;cursor: pointer;" ng-click="getJobInfo(job.jobID)">
<font color="white" size="4"><strong>&nbsp;&nbsp;&nbsp;&nbsp;{{job.title}}</strong></font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="black" size="2"><strong>{{job.location}}</strong></font>
<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;"/>
</div>
</div>
</div>
<div ng-show="noJobs" style="text-align:center;padding-top:40px;">
	<h4 style="color:white">No Jobs Found For Your Search.</h4>
</div>
</div>
</div>
</div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:20px;" data-ng-init="jobLocList()">
<ul ng-repeat="loc in jobLocList" style="display:inline-block;list-style-type: square;">
<li>
<a href="" style="font-weight:bold;font-size:16px;" ng-click="searchByLoc(loc._id.location)">{{loc._id.location}}({{loc.count}})</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</li>
</ul>
<div style="width:103.6%;height:40px;border:0px solid #000;background-color:#3399FF;margin:90px 0px 0px -20px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
</body>
</html>