<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blue Collar Hunt Seeker Job History Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
    <a href="/home"><img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/></a>
	<div style="width:111.5%;height:40px;border:0px solid #000;background-color:#3399FF;margin:-155px -61px 70px;">
	  <p style="text-align:right;padding:10px;margin: 0px 0px 0px 680px;" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">
		<span class="color customLink"><a href="/home" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a> | </span>
		<span class="color customLink"><a href="/profile" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Profile</font></a> | </span>
		<span class="color customLink"><a href="/upload" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Upload</font></a> | </span>
		<span class="color customLink" ng-show="currentUser.socialYN == 'Y'"><a href="/socialContacts"  style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Socialize</font></a> | </span>
		<span class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a> | </span>
		<span class="color customLink"><a href="logout()" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">SignOut</font></a></span>
	</p>
	</div>
</div></div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row" style="height:646px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:640px;">
<div class="panel-body" style="padding:40px;">
			<!-- Content  -->
			<div  style="border:2px solid #5BC0DE;width:1110px;" ng-show="allHist.length >= 0" data-ng-init="jobHistory(currentUser)">
			<table class="table table-striped">
				<thead>
				<tr style="background-color:#D3D3D3">
					<!--<th>Number #</th>-->
					<th>JOB-ID</th>
					<th>Position</th>
					<th>Company Name</th>
					<th>Applied Date</th>
					<th>Resume Title</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="hist in partialHist">
					<td><a href="" ng-click="getJobInfo(hist.jobID)" data-toggle="modal" data-target="#showJobInfo"><strong>{{hist.jobID}}</strong></a></td>
					<td>{{hist.title}}</td>
					<td><strong>{{hist.companyName.toUpperCase()}}</strong></td>
					<td>{{hist.dateApplied}}</td>
					<td>{{hist.filename}}</td>
					<td><a href="" ng-click="getJobInfo(hist.jobID)" data-toggle="modal" data-target="#referJob">Refer Job</a></td>
				</tr>
				<tr ng-show="allHist.length <= 0">
				<td colspan="6" align="center"><h4 style="color:red">You have't applied any jobs yet.</h4></td>
				</tr>
				</tbody>
			</table>
			<table class="table" style="margin-bottom:0px">
			<tbody>
			<tr ng-show="partialHist.length > 0">
				<td></td><td></td><td></td><td></td><td></td>
				<td align="right">
				    <pagination 
				      ng-model="currentPage"
				      total-items="allHist.length"
				      max-size="maxSize"  
				      boundary-links="true">
				    </pagination>
				</td>
				</tr>
			</tbody>
			</table>
			</div>
</div></div></div></div>
	
<!-- Section to Show the Job Information for selected job -->
<div  class="modal fade" id="showJobInfo" role="dialogue">
	<div class="modal-dialogue" style="width:35%;height:100%;z-index:0;margin-top: 10%;margin-left: 33%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Job Information for {{jobInfo.jobID}}</h4>
			</div>
			<div class="modal-body" style="display:block;">
				<table class="table table-striped" style="margin-bottom: 10px;">
				<thead>
				<tr style="background-color:#D3D3D3">
					<th></th><th></th><th></th><th></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td><strong>Job Title</strong></td>
					<td></td>
					<td></td>
					<td>{{jobInfo.title}}</td>
				</tr>
				<tr>
					<td><strong>Company</strong></td>
					<td></td>
					<td></td>
					<td>{{jobInfo.companyName.toUpperCase()}}</td>
				</tr>
				<tr>
					<td><strong>Location</strong></td>
					<td></td>
					<td></td>
					<td>{{jobInfo.location}}</td>
				</tr>
				<tr>
					<td><strong>Requirement</strong></td>
					<td></td>
					<td></td>
					<td>{{jobInfo.requirement}}</td>
				</tr>
				<tr>
					<td><strong>Responsibilities</strong></td>
					<td></td>
					<td></td>
					<td>{{jobInfo.responsibilities}}</td>
				</tr>
				<tr>
					<td><strong>Salary Type</strong></td>
					<td></td>
					<td></td>
					<td>${{jobInfo.rate}} {{jobInfo.salaryType}}</td>
				</tr>
				<tr>
					<td><strong>Posted Date</strong></td>
					<td></td>
					<td></td>
					<td>{{jobInfo.origPostDate}}</td>
				</tr>
				</tbody>
				</table>
			</div>
			<div class="modal-footer" style="text-align:right;">
				<button class="btnCustom" style="width:95px;height:33px;padding:0px;border-radius:20px;background: #f0ad4e;border: solid #f0ad4e 2px;" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- End list of the Job Seekers current endorsement messages -->

<!-- Section to refer the selected Job Information to friends -->
<div  class="modal fade" id="referJob" role="dialogue">
	<div class="modal-dialogue" style="width:32%;height:100%;z-index:0;margin-top: 10%;margin-left: 35%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Refer/Share Job requirement for {{jobInfo.jobID}} {{jobInfo.title}}</h4>
			</div>
			<div class="modal-body" style="margin:10px 0px 0px 10px;">
				<!-- Error Message Area ng-show="errorMsg" -->
				<div class="form-group" ng-show="errorMsg" style="width:450px">
								<flash-message
					    			duration="5000"
					    			show-close="true"
					    			on-dismiss="ClearMessages(flash)"></flash-message>
			    </div>
				<!-- Error Message Area End -->
				<div class="form-group">
                  <label for="rName">
                                <font color="red">*</font>&nbsp;Friends Name</label>
                      <input type="text" id="rName" autofocus="true" ng-model="name" class="form-control" style="width:450px" placeholder="Name of your Friend">
            	</div>
            	<div class="form-group">
                  <label for="toEmail">
                                <font color="red">*</font>&nbsp;To Email</label>
                      <input type="text" id="toEmail" autofocus="true" ng-model="referEmail" class="form-control" style="width:450px" placeholder="Friends Email">
            	</div>
            	<div class="form-group">
                  <label for="message">
                                &nbsp;Refer Comments</label>
                      <textarea name="message" id="message" class="form-control" rows="3" cols="3" required="required"
                                placeholder="Message" ng-model="comments" style="width:450px;height:85px;resize:none;"></textarea>
            	</div>
			</div>
			<div class="modal-footer" style="text-align:right;">
				<button class="btnCustom" style="width:105px;height:33px;padding:0px;border-radius:20px;" ng-click="sendJobReference(jobInfo)">Refer Job</button>
				<button class="btnCustom" style="width:95px;height:33px;padding:0px;border-radius:20px;background: #f0ad4e;border: solid #f0ad4e 2px;" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
<!-- End refer job here -->
	
	<!-- Footer -->
	<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="width:110.4%;height:40px;border:0px solid #000;background-color:#3399FF;margin:79px 0px 0px -56px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
	</div>
	</body>