<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt Landing Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
            <img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="75" style="margin:10px 0px 0px -60px"/>
			<div style="width:111.5%;height:40px;border:0px solid #000;background-color:#3399FF;margin:-151px -61px 70px;">
			<p style="align:right;padding:10px;margin: 0px 0 0px 780px;">
			<a href="/login" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Seeker</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/empSignIn" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Employer</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a>
			</p>
			</div>
            <div style="text-align:center">
			<div class="form-group has-feedback" style="display:inline-block;">
                <input type="text" ng-model="user.search" class="form-control" style="width:280px" placeholder="Jobs" ng-change="testLoginName()" ng-required="true">
            	<i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback" style="display:inline-block;">
            	<input type="text" id="Autocomplete" ng-model="user.location" style="width:280px" class="form-control" placeholder="Location" ng-autocomplete="result1" details="details1" options="options1" />
            	<i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
            </div>
            <div class="form-group" style="display:inline-block;">
            <input type="image" src="img/search.png" alt="Submit" width="45" height="48" style="padding-bottom:15px;" ng-click="search(user.search)">
            </div>
            </div>
</div></div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row" style="height:556px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:550px;">
<div class="panel-body" style="padding:10px;">

<div class="panel panel-default site-panel-box" style="border: 3px ridge #5BC0DE;height:530px;width:704px;margin:0 0 0 460px;">
<div class="panel-body" style="padding:0px;">
<div style="text-align:left;margin:0 0 0 20px; " ng-show="jobResults == 2 && jobInfo">
			<h3 style="color:#3399FF">{{jobInfo.title}}
			<a href="/upload"><button style="width: 125px; height: 30px; font-size: 16px;margin:20px 0px 0px 290px" class="btn btn-primary"  ng-click="" ng-disabled="">
				<span class="glyphicon"></span>  APPLY
			</button></a>
			</h5>
			<h5>{{jobInfo.location}}</h5>
			<br/>
			<h4 style="color:#3399FF;"><strong>Responsibilities :</strong></h4>
			<h5 style="white-space: pre-line;">{{jobInfo.responsibilities}}</h5>
			<br/>
			<h4 style="color:#3399FF"><strong>Requirement : </strong></h4>
			<h5 style="white-space: pre-line;">{{jobInfo.requirement}}</h5>
			<br/>
			<h5><strong>Salary Rate : </strong>${{jobInfo.rate}} {{jobInfo.salaryType}}</h5>
</div>
<!-- UNCOMMENT in the finish of development
<div ng-show="searchResults != 1 && jobResults != 2" style="text-align:center;">
<object type="application/x-shockwave-flash" data="./media/flashfox.swf" width="680" height="526" style="position:relative;">
<param name="movie" value="./media/flashfox.swf" />
<param name="allowFullScreen" value="true" />
<param name="flashVars" value="autoplay=true&amp;controls=true&amp;fullScreenEnabled=true&amp;posterOnEnd=true&amp;loop=true&amp;poster=./media/BlueCollarHunt-HD_(720p).jpg&amp;src=BlueCollarHunt-HD_(720p).m4v" />
 <embed src="./media/flashfox.swf" width="1152" height="525" style="position:relative;"  flashVars="autoplay=true&amp;controls=true&amp;fullScreenEnabled=true&amp;posterOnEnd=true&amp;loop=false&amp;src=BlueCollarHunt-HD_(720p).m4v"	allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
<img alt="Blue Collar Jobs On Demand" src="./media/BlueCollarHunt-HD_(720p).jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser" />
</object>
</div>
-->
</div></div>

<div class="panel panel-default site-panel-box" style="border: 3px ridge #5BC0DE;height:530px;width:450px;background-color:#3399FF;margin:-530px 0 0 0;">
<div class="panel-body" style="padding:0px;padding-top:5px;" ng-repeat="job in jobsList">
<div ng-show="searchResults == 1">
<div style="padding: 0px;cursor: pointer;" ng-click="getJobInfo(job.jobID)">
<font color="white" size="4"><strong>&nbsp;&nbsp;&nbsp;&nbsp;{{job.title}}</strong></font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="black" size="2"><strong>{{job.location}}</strong></font>
<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;"/>
</div>
</div>
</div>
<div ng-show="noJobs" style="text-align:center;padding-top:40px;">
	<h4 style="color:white">No Jobs Found For Your Search.</h4>
</div>
</div>
</div>
</div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="width:110.4%;height:40px;border:0px solid #000;background-color:#3399FF;margin:79px 0px 0px -56px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
</body>
</html>