<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt User Login Page</title>
  </head>
<body>
<div class="navbar navbar-inverse" style="width:100%;height:50%;border:0px solid #000;background-color:#3399FF;margin-bottom:3px;">
 			 <div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" style="color:white;font-size:24px;padding-left:30px;font-weight:bold;">BlueCollarHunt</a>
    			</div>
    			<ul class="nav navbar-nav navbar-right">
    				<li class="color customLink"><a href="/" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a></li>
					<li class="color customLink active"><a href="/login" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Seeker</font></a></li>
					<li class="color customLink"><a href="/empSignIn" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Employer</font></a></li>
					<li class="color customLink"><a href="/adminLogin" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Admin</font></a></li>
					<li class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a></li>
    			</ul>
  			</div>
</div>
<div class="container" style="padding-left:0px;margin-bottom:-15px;">
<div class="row" style="height:100%">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:100%;">
<div class="panel-body" style="padding:60px;height:175px;">
		<img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/>
</div></div></div></div></div>
<div class="container" style="padding-left:0px;margin-bottom:-2px;">
<div class="row" style="height:631px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:624px;">
<div class="middle-box" style="margin-left:260px;padding-top:5px;">
<div class="panel-body" style="padding-top:10px;">
<!-- Error Message Area ng-show="errorMsg" -->
<div id="errMsgArea" ng-show="errorMsg" style="height:12px;width:450px;margin:0px 0px 0px 0px">
<div class="panel-body" style="padding:0px;">
			<div class="form-group">
			<flash-message
    			duration="0"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
</div>
</div>
<!-- Error Message Area End -->
<div class="panel panel-default site-panel-box" style="width:450px;height:511px;margin-top:50px;">
	<div class="panel-body" style="padding:4px;padding-bottom:20px;">
		<div class="wrapper">
			<form name="Login_Form" class="form-signin">       
			    <h3 class="form-signin-heading">Log in to your account</h3>
				  <hr class="colorgraph"><br>
				  <input type="text" id="eml" autofocus="true" ng-model="user.email" class="form-control" style="width:350px" placeholder="User ID" ng-blur="testLoginName()" ng-required="true">
               	  <input type="password" id="pwd" ng-model="user.password" ng-keydown="pressEnter($event,user)" class="form-control" style="width:350px" placeholder="Password" ng-blur="testPasswordLen()" ng-required="true">
				  <br/>
				  <button ng-click="login(user)" class="btn btn-primary block full-width m-b" style="width:280px">Login</button>
				  <br/><br/>
            	  <a class="btn btn-info btn-block" href="/register">Sign Up</a>			
			</form>			
		</div>
		<div class="panel-footer" style="margin-top:0.3%;padding:3%;text-align:center;border: 3px dotted rgba(0,0,0,0.1)"><a href="/forgetPasswd"><u><strong>Forgot your password?</strong></a></u></div>
	</div>
    <!-- <div class="panel-footer" style="margin-top:-30px;height:10.2%;text-align:center;"><a href="/forgetPasswd"><u><strong>Forgot your password?</strong></a></u></div> -->
</div>
</div>
</div>
        
<div id="social" class="right-box text-center" style="margin:-550px 0px 0px 730px;padding-top:120px;">
	<div class="panel panel-default site-panel-box" style="height:267px;width:108%">
		<div class="panel-body" style="padding:5px;">
    	<div class="wrapper">
		<form action="" method="post" name="Social" class="form-signin" style="height:36%;width:375px;padding:0px 38px 16px">       
		    <h3 class="form-signin-heading"></h3>
			<p style="text-align:center;">
	    	<img src="img/social.png" usemap = #social border=0>
			<map name=social>
			<area shape="poly" Coords="6,4,197,5,197,34,7,35,2,19" href="/auth/google">
			<area shape="poly" Coords="4,44,196,43,196,73,5,73" href="/auth/facebook">
			<area shape="poly" Coords="4,80,196,82,197,112,5,111" href="/auth/linkedin">
			</map>
			<hr width="100%"/>
		</p>
		<div class="panel-footer" style="margin-top:-35px;height:36%;width:100%;text-align:center;font-size:14.1px;">By signing up, I agree to Blue Collar Hunt <br/>Portal Terms of Service,Privacy Policy<br/> and other Terms.</div>
				</form>			
	</div>
	</div></div></div>

</div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;margin-bottom:-30px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
</div></div></div></div></div>
</footer>
<div style="width:100%;height:90px;border:0px solid #000;background-color:#3399FF;">
	<p class="copyright" style="padding-top:60px;color:white;font-size:15px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</body>
</html>