<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Blue Collar Hunt User Profile Page</title>
  </head>
<body data-ng-init="userInfo()">
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
	<img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="75" style="margin:10px 0px 0px -60px"/>
	<div style="width:111.5%;height:40px;border:0px solid #000;background-color:#3399FF;margin:-151px -61px 70px;">
	  <p style="align:right;padding:10px;margin: 0px 0 0px 700px;">
		<a href="/home" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/upload" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Upload</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/changePassword" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Change Password</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="" ng-click="logout()" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">SignOut</font></a>
	</p>
	</div>
	<div style="text-align:right">
		<h4>Welcome to Blue Collar Hunt {{currentUser.firstName}}</h4>
	</div>
</div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row" style="height:556px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:590px;">
<div class="panel-body" style="padding:10px;">
<!-- <img class="banner" src="img/BlueCollar_Profile.png" alt="background" width="100%" height="530px"/> -->
<!-- For Profile Image and Details -->
<div class="panel panel-default site-panel-box" style="width:220px;height:530px;margin:35px 0 0 20px;float:left">
<div class="panel-body" style="padding:20px;">
<img ng-src="{{dataUrl | trustUrl}}" style="height:125px;width:175px;border-radius: 60%;background-position: center center;background-size: cover;" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" ng-click="changeProfilePic()">Edit</a>
<input type="file" id="imgupload" ng-model="Image" accept="image/jpeg,image/png" placeholder="Change Profile Image" style="display:none" ng-change="profPicChange()">
</div></div>
<!-- For Most Talended Skills and Recommendations/Views -->
<div class="panel panel-default site-panel-box" style="width:900px;height:400px;margin:35px 0 0 250px;">
<div class="panel-body" style="padding:5px;">
<!-- <h5>{{currentUser.firstName}} {{currentUser.lastName}}</h5> -->
<div class="panel panel-default site-panel-box" style="width:400px;height:305px;margin:0 0 0 450px;float:right;border:2px dotted">
<div class="panel-body" style="padding:20px;">
</div></div>
</div></div>
<!-- For Recommended Jobs list -->
<div class="panel panel-default site-panel-box" style="width:900px;height:125px;margin:5px 0 0 250px;">
<div class="panel-body" style="padding:20px;">
</div></div>
</div></div></div></div></div></div>
<footer style="padding-top:20px;">
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="width:110.4%;height:40px;border:0px solid #000;background-color:#3399FF;margin:79px 0px 0px -56px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
</body>
</html>