<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Blue Collar Hunt User Profile Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;" data-ng-init="userInfo()">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
	<a href="/home"><img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/></a>
	<div style="width:111.5%;height:40px;border:0px solid #000;background-color:#3399FF;margin:-171px -61px 70px;">
	  <p style="text-align:right;padding:10px;margin: 0px 0px 0px 680px;" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">
		<span class="color customLink"><a href="/home" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a> | </span>
		<span class="color customLink"><a href="/upload" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Upload</font></a> | </span>
		<span class="color customLink" ng-show="currentUser.socialYN == 'Y'"><a href="/socialContacts" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Socialize</font></a> | </span>
		<span class="color customLink"><a href="/jobHistory" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Job History</font></a> | </span>
		<span class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a></span>
	</p>
	</div>
	<div class="navbar-header pull-right">
			          <ul class="nav pull-left">
			            <!-- This works well for static text, like a username -->
			            <li class="navbar-text pull-left">
			            	
			            </li>
			            <!-- Add any additional bootstrap header items.  This is a drop-down from an icon -->
			            <li class="dropdown pull-right">
			              <a href="#" data-toggle="dropdown" style="color:#777; margin: -30px -20px 0px 0px; padding:10px;" class="dropdown-toggle">
			              <img class="profileImage" ng-src="{{dataUrl | trustUrl}}"/>
			              <b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li>
			                  <a href="" ng-click="editProfileInfo()" title="Profile">Change Profile</a>
			                </li>
			                <li>
			                  <a href="/changePassword" title="Profile">Change Password</a>
			                </li>
			                <li>
			                  <a href="" title="Logout" ng-click="logout()">SignOut</a>
			                </li>
			              </ul>
			            </li>
			          </ul>
	</div>
</div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row" style="height:556px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:590px;">
<div class="panel-body" style="padding:10px;">
<!-- <img class="banner" src="img/BlueCollar_Profile.png" alt="background" width="100%" height="530px"/> -->
<!-- For Profile Image and Details -->
<div class="panel panel-default site-panel-box" style="width:220px;height:562px;margin:3px 0 0 5px;float:left">
<div class="panel-body" style="padding:20px;">
<img ng-show="dataUrl == 'NoProfilePic'" src="img/blank.jpeg" style="height:125px;width:175px;border-radius: 60%;background-position: center center;background-size: cover;" />
<img ng-show="dataUrl != 'NoProfilePic'" ng-src="{{dataUrl | trustUrl}}" style="height:125px;width:175px;border-radius: 60%;background-position: center center;background-size: cover;" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" ng-click="changeProfilePic()" ng-show="dataUrl != 'NoProfilePic'">Edit</a><a href="" ng-click="changeProfilePic()" ng-show="dataUrl == 'NoProfilePic'">Add Image</a>
<input type="file" id="imgupload" ng-model="Image" accept="image/jpeg,image/png" placeholder="Change Profile Image" style="display:none">
<br/>
<br/>
<br/>
<br/>
<table>
<tr>
<td>
<strong>Zip Code : </strong>
</td>
<td></td>
<td>
<strong>{{currentUser.zipcode}}</strong>
</td>
</tr>
<tr>
<td nowrap>
<strong>Skill : </strong>
</td>
<td></td>
<td>
<strong>{{currentUser.primarySkill}}</strong>
</td>
</tr>
</table>
<br/><br/><br/><br/>
</div></div>
<!-- For Most Talented Skills and Recommendations/Views -->
<div class="panel panel-default site-panel-box" style="width:928px;height:380px;margin:3px 0 0 232px;">
<div class="panel-body" style="padding:3px;padding-top:0px;">
<h3>{{currentUser.firstName}} {{currentUser.lastName}} <!-- <img src="img/like_image.jpeg" style="width:90px;height:70px;padding-bottom:20px;"></h3> -->
<button class="btnCustom" style="width:87px;height:28px;padding:0px;border-radius:20px;margin-top:0px;margin-left:10px;" data-toggle="modal" data-target="#submitEndorses">Endorse</button>
<h4 style="margin:-10px 0px 0px 0px">@{{currentUser.lastName}}</h4>
<div class="form-group" style="margin:10px 0px 0px 0px;">
<textarea name="message" id="coverMsg" class="form-control" rows="12" cols="26" required="required"
                                placeholder="Cover Letter Info Wall" ng-model="user.coverInfo" style="width:440px;height:290px;resize: none;"></textarea>
</div>
<div class="panel panel-default site-panel-box" style="width:400px;height:305px;margin:-360px 0 0 450px;float:right;border:2px dotted">
<div class="panel-body" style="padding:0px;" data-ng-init="checkProfileVideo()">

<div ng-show="!showVideo">
<div ng-show="uploader.isHTML5" style="padding-left:0px;">
             <div nv-file-drop ng-click="launchFilePicker()" uploader="uploader">
               <div nv-file-over uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone" style="border-style:dotted;border-color:#5BC0DE;border-width: 5px;width:396px;height:274px;">
                                Drag & Drop Profile Video Here
               <div ng-hide="uploader.isHTML5"><input id="fileDialog" type="file" nv-file-select uploader="uploader" onclick="javascript:alert('hi')"/></div>
               </div>
             </div>
             <div class="progress" style="width:396px;margin: -18px 0px 0px 0px;height: 24px;">
                     <div class="progress-bar" role="progressbar" ng-style="{ 'width': progress + '%' }"></div>
             </div>
</div>
</div>
<div ng-show="showVideo" style="padding:0px;" data-ng-init="getProfileVideo()">
<video id="videoPreview" ng-src="{{videoSrc | trustUrl}}" style="width:396px;height:301px;" controls="yes"></video>
</div>

</div></div>
</div></div>
<!-- For endorsements -->
<div class="panel panel-default site-panel-box" style="width:404px;height:55px;margin:-65px 0 0 754px;">
<div class="panel-body" style="padding:0px;">
<button class="btn btn-info block full-width m-b" style="width:145px;height:52px;" data-toggle="modal" data-target="#listEndorses"><span class="customSpan">Endorsements</span></button>
</div></div>
<!-- For Recommended Jobs list -->
<div class="panel panel-default site-panel-box" style="width:928px;height:173px;margin:18px 0 0 234px;" data-ng-init="listRecoJobs(currentUser.primarySkill)">
<p style="text-align:center;"><strong style="color:blue;">Recommended Jobs for your skill : {{currentUser.primarySkill}}</strong></p>
<div class="panel-body" style="padding:8px;">
<table class="table table-striped">
<tr class="info" ng-repeat="job in recoJobsList" style="margin-bottom: 0px;cursor: pointer;" ng-click="getRecoJobInfo(job.jobID)">
<td>
<font size="3"><strong>&nbsp;&nbsp;&nbsp;{{job.title}}</strong></font> 
</td>
<td>
<p style="width:300px; white-space: nowrap;overflow: hidden;text-overflow:ellipsis;"><strong>{{job.requirement}}</strong></p>
</td>
<td>
<font color="black" size="2"><strong>{{job.companyName}}</strong></font>
</td>
<td>
<font color="black" size="2"><strong>{{job.location}}</strong></font>
</td>
</tr>
</table>
<div ng-show="noJobs" style="text-align:center;padding-top:20px;">
	<h5 style="color:black">No Job Recommendations available for your skill.</h5>
</div>
</div>
</div>
</div></div></div></div></div></div>

<!-- Section to list the Job Seekers current endorsement messages -->
<div  class="modal fade" id="listEndorses" role="dialogue">
	<div class="modal-dialogue" style="width:33%;height:100%;z-index:0;margin-top: 10%;margin-left: 34%" data-ng-init="listEndorsements()">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Endorsements received for {{currentUser.lastName}}</h4>
			</div>
			<div class="modal-body" style="display:block;">
				<table class="table table-striped" style="margin-bottom: 10px;">
				<thead>
				<tr style="background-color:#D3D3D3">
					<th>Endorse Message</th>
					<th></th>
					<th>Endorsed By</th>
					<th>Endorsed Date</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="endorse in endorseList">
					<td colspan="2" style="padding: 0px;cursor: pointer;">{{endorse.message}}</td>
					<td style="padding: 0px;cursor: pointer;">{{endorse.fromEmail}}</td>
					<td style="padding: 0px;cursor: pointer;">{{endorse.origPostDate}}</td>
				</tr>
				<tr ng-show="endorseList.length <= 0">
				<td colspan="4" align="center"><h4 style="color:red">No Endorsements received.</h4></td>
				</tr>
				</tbody>
				</table>
			</div>
			<div class="modal-footer" style="text-align:center;">
				<button class="btnCustom" style="width:95px;height:33px;padding:0px;border-radius:20px;background: #f0ad4e;border: solid #f0ad4e 2px;" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- End list of the Job Seekers current endorsement messages -->

<!-- Section to Submit the endorsement message for current Job Seeker -->
<div  class="modal fade" id="submitEndorses" role="dialogue">
	<div class="modal-dialogue" style="width:32%;height:100%;z-index:0;margin-top: 10%;margin-left: 37%" data-ng-init="getEndorseMsg()">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Endorsement for {{contactUser.lastName}}</h4>
			</div>
			<div class="modal-body" style="margin:10px 0px 0px 20px;">
				<div class="form-group">
                  <label for="name">
                                <font color="red">*</font>&nbsp;Endorse From</label>
                      <input type="text" id="userId" autofocus="true" ng-model="currentUser.email" class="form-control" style="width:450px" placeholder="Username or Email" ng-disabled="true">
            	</div>
            	<div class="form-group">
                  <label for="name">
                                <font color="red">*</font>&nbsp;Endorse Message</label>
                      <textarea name="message" id="message" class="form-control" rows="12" cols="12" required="required"
                                placeholder="Message" ng-model="endorse.message" style="width:450px;height:180px;resize:none;"></textarea>
            	</div>
			</div>
			<div class="modal-footer" style="text-align:right;">
				<!-- <button class="btn btn-info" ng-click="saveEndorseMsg(endorse)" style="width:80px;">Endorse</button> -->
				<button class="btnCustom" style="width:105px;height:33px;padding:0px;border-radius:20px;" ng-click="saveEndorseMsg(endorse)">Endorse</button>
				<button class="btnCustom" style="width:95px;height:33px;padding:0px;border-radius:20px;background: #f0ad4e;border: solid #f0ad4e 2px;" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
<!-- End of Submit the endorsement message for current Job Seeker -->

<footer style="padding-top:20px;">
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="width:110.4%;height:40px;border:0px solid #000;background-color:#3399FF;margin:79px 0px 0px -56px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
</body>
</html>