<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt User Registration Page</title>
    <style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}
</style>
  </head>
<body>
<div class="navbar navbar-inverse" style="width:100%;height:50%;border:0px solid #000;background-color:#3399FF;margin-bottom:3px;">
 			 <div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" style="color:white;font-size:24px;padding-left:30px;font-weight:bold;">BlueCollarHunt</a>
    			</div>
    			<ul class="nav navbar-nav navbar-right">
    				<li class="color customLink"><a href="/" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a></li>
					<li class="color customLink"><a href="/login" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Seeker</font></a></li>
					<li class="color customLink active"><a href="/register" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Register</font></a></li>
					<li class="color customLink"><a href="/empSignIn" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Employer</font></a></li>
					<li class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a></li>
    			</ul>
  			</div>
</div>
<ng-form id="register_form">
<div class="container" style="padding-left:0px;margin-bottom:-20px;">
<div class="row" style="height:201px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
		 <img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/>
</div></div></div></div></div>
<div class="container" style="padding-left:0px;margin-bottom:0px;">
<div class="row" style="height:736px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:729px;">
<div class="middle-box" style="padding-top:25px;">
        <div class="panel-body" style="padding:0px;">
        
        <div id="errMsgArea" ng-show="errorMsg" class="panel panel-default site-panel-box" style="height:54px;">
		<div class="panel-body" style="padding:0px;">
			<div class="form-group">
			<flash-message
    			duration="5000"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
		</div>
		</div>
        
        <div class="panel panel-default site-panel-box" style="height:625px;">
		<div class="panel-body" style="padding:10px;">
			<div class="panel-heading" style="text-align:center;background-color:#63c1ff;">
			<h5>Job Seeker Registration Form</h5>
			</div>
            <div class="form-group has-feedback" style="padding-top:10px;">
				<input type="text" ng-model="user.email" class="form-control" placeholder="Email Address" ng-change="testUsername()">
				<i class="glyphicon glyphicon-user form-control-feedback" style="padding-top:10px;"></i>
				<span ng-show="usernameErr && user.email != ''" style="color:red;display:inline-block;">invalid email address</span>
			</div>
            <div class="form-group">
                <input id="fName" type="text" ng-model="user.firstName" class="form-control" placeholder="First Name" data-toggle="tooltip" data-placement="top" data-original-title="Please use only letters for names">
            </div>
            <div class="form-group">
                <input id="lName" type="text" ng-model="user.lastName" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="text" id="zip" ng-model="user.zipcode" class="form-control" placeholder="Zip Code" ng-change="testZipCode()" data-toggle="tooltip2" data-placement="top" data-original-title="Please use only numbers">
                <span ng-show="zipCodeErr && user.zipcode != ''" style="color:red;">Please enter valid Zipcode.</span>
            </div>
            <div class="form-group">
                <input type="text" id="skill" ng-model="user.primarySkill" class="form-control" placeholder="Enter Primary Skill">
            </div>
            <div class="form-group">
                <input type="file" id="profPic" name="myImage" ng-model="user.image" class="form-control" image-with-preview accept="image/jpeg,image/png" placeholder="Upload Profile Image" ng-change="profPicChange()">
            </div>
            <div class="form-group has-feedback">
                <span class="{{myClass}}"><input type="password" ng-model="user.passwd1" class="form-control" placeholder="New Password" ng-change="testPassword()" ng-blur="hidePassPol()" ng-focus="showPassPol()"></span>
                <i class="glyphicon glyphicon-lock form-control-feedback"></i>
    			<span ng-show="passwordShort && user.passwd1 != ''" style="color:red">password must be at least 6 characters</span>
            </div>
            <div class="form-group has-feedback">
                <span class="{{myClass}}"><input type="password" ng-model="user.passwd2" ng-change="testPassword2()" class="form-control" placeholder="Confirm Password" ng-blur="hidePassPol()" ng-focus="showPassPol()"></span>
    			 <i class="glyphicon glyphicon-lock form-control-feedback"></i>
    			<span ng-show="passwordErr && user.passwd2 != undefined" style="color:red">password doesn't match</span>
            </div>
            <div class="form-group">
				<input id="socialFlag" type="checkbox" ng-checked="isSocial"
									ng-model="user.socialYN" ng-click="changeStatus()"> <strong>Connect with other applicants?</strong>
			</div>
			<br/>
            <button ng-click="register(user)" ng-disabled="error" class="btn btn-primary block full-width m-b">Register</button>
            <br/><br/>
            <button ng-click="clear(user)" ng-disabled="error" class="btn btn-warning block full-width m-b">Clear</button>
        </div>
        </div></div>
</div>

<div id="profile" class="right-box text-center" style="margin:0 0 0 -340px;padding-top:70px;">
  <div class="panel panel-default site-panel-box" style="height:175px;width:200px;border:3px ridge #5BC0DE;margin-bottom:0px;">
	<div class="panel-body" style="padding:0px;">
		<!-- 
		<img ng-if="user.image != undefined" ng-src="{{user.image.src}}" style="height:171px;width:196px;"/>
		<img ng-show="noImage" src="img/preview.png" style="height:125px;width:160px;"/>
		 -->
		 <div id="profPicDisplay" class="dropdown">
  		<img ng-src="{{user.image.src}}" style="height:171px;width:196px;">
  		<div class="dropdown-content">
    	<img ng-src="{{user.image.src}}" style="height:215px;width:250px;">
    	<div class="desc">Blue Collar Profile Picture</div>
  		</div>
		</div>
	</div>
  </div>
  <h4 style="color:#5BC0DE;"><strong>Profile Picture</strong></h4>
</div>

<div id="PassPolicy" class="right-box text-center" style="margin:180px 0 0 -380px;padding-top:70px;">
		<div class="panel panel-default site-panel-box" style="height:155px;width:360px;margin:0 0 10px 0px;margin-top:80px;">
		<div class="panel-body" style="padding:0px;">
		<div class="form-group">
		<ul style="font-size:12px;padding:10px 0 0px 30px;text-align:left;color:667C26;"> <strong>Password Tips :</strong>
		<li style="padding-top:10px;">Password must be at least 6 characters.</li>
		<li>Enter a combination of at least six numbers,<br>letters and punctuation marks.</li>
		<li>Password may not not too obvious.</li>
		<li>Password must contain at least two of the following: <br><strong>uppercase or lowercase letters, numbers and symbols.</strong></li>
		</ul>
		</div>
		</div>
		</div>
</div>

</div>

</div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;margin-bottom:-30px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
</div></div></div></div></div>
</footer>
</ng-form>
<div style="width:100%;height:90px;border:0px solid #000;background-color:#3399FF;">
	<p class="copyright" style="padding-top:60px;color:white;font-size:15px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</body>
</html>