<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Blue Collar Hunt Forgot Recovery Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
</div></div></div></div></div>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:556px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:550px;">
<div class="middle-box">
<div class="panel-body" style="padding:10px;">
<!-- 
<div id="errMsgArea" ng-show="errorMsg" class="panel panel-default site-panel-box" style="height:72px;width:320px;">
<div class="panel-body" style="padding:0px;">
			<div class="form-group">
			<flash-message
    			duration="5000"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
</div>
</div>
-->
<div class="panel panel-default site-panel-box" style="height:436px;">
	<div class="panel-body" style="padding:10px;padding-bottom:20px;">
			<div class="panel-heading" style="text-align:center;background-color:#5BC0DE;">
			<h5>Enter New Password</h5>
			</div>
			<hr/>
			<div class="form-group has-feedback" style="padding-top:10px;">
				<span class="icon-lock"></span>
                <input id="pw2" class="form-control" autofocus="true" style="width: 280px; display:inline-block; height:32px" type="password" ng-model="user.password1" placeholder="New Password" ng-required="true" ng-blur="testPasswordLen()">
				<span ng-show="passwordShort" style="color:red">&nbsp;&nbsp;Password must be at least 6 characters</span>
            	<i class="glyphicon glyphicon-lock form-control-feedback"  style="padding-top:10px;"></i>
            </div>
            <div class="form-group has-feedback" style="padding-top:10px;">
				<span class="icon-lock"></span>
                <input id="pw2" class="form-control" style="width: 280px; display:inline-block; height:32px" type="password" ng-model="user.password2" placeholder="Repeat Password" ng-required="true" ng-blur="testPassword()">
				<span ng-show="passwordErr && user.password2 != undefined" style="color:red;display:inline-block;">&nbsp;&nbsp;Password doesn't match!</span>
            	<i class="glyphicon glyphicon-lock form-control-feedback"  style="padding-top:10px;"></i>
            </div>
			<div style="padding-top:30px;">
            <button ng-click="pwReset(user)" class="btn btn-info block full-width m-b" style="width:280px">Save</button>
            <br/><br/>
            <a class="btn btn-info btn-block" href="/login">Cancel</a>
            </div>
	</div>
	<hr/>
	<!-- 
	<div class="panel panel-default site-panel-box" style="height:50px;margin-top:-30px;">
            <div class="panel-heading" style="background-color:#5BC0DE;width:100%;height:100%">                           
                            <a href="/forgetPasswd"><small>Forgot password?</small></a>              
            </div>
    </div>
     -->
     <div class="panel-footer" style="margin-top:-30px;padding:30px;text-align:center;"> </div>
</div>
</div>
</div>

<!-- ERROR Message Display Area -->
<div id="social" class="right-box text-center" style="margin:0px 0 0 -370px;padding-top:70px;">
		<div class="panel-body" id="errMsgArea" ng-show="errorMsg" style="padding:0px;">
			<div class="form-group">
			<flash-message
    			duration="5000"
    			show-close="true"
    			on-dismiss="ClearMessages(flash)"></flash-message>
    		</div>
		</div>
</div>
<div id="social" class="right-box text-center" style="margin:30px 0 0 -380px;padding-top:60px;">
		<div class="panel panel-default site-panel-box" style="height:155px;width:360px;margin:0 0 10px 0px;margin-top:80px;">
		<div class="panel-body" style="padding:0px;">
		<div class="form-group">
		<ul style="font-size:12px;padding:10px 0 0px 30px;text-align:left;color:667C26;"> <strong>Password Tips :</strong>
		<li style="padding-top:10px;">Password must be at least 6 characters.</li>
		<li>Enter a combination of at least six numbers,<br>letters and punctuation marks.</li>
		<li>Password may not not too obvious.</li>
		<li>Password must contain at least two of the following: <br><strong>uppercase or lowercase letters, numbers and symbols.</strong></li>
		</ul>
		</div>
		</div>
		</div>
</div>
</div>
<!-- Close Error Message Display Area -->
           
</div></div></div>
<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="width:110.4%;height:40px;border:0px solid #000;background-color:#3399FF;margin:79px 0px 0px -56px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
</body>
</html>