<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blue Collar Hunt Resume Upload Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
    <a href="/home"><img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/></a>
	<div style="width:111.5%;height:40px;border:0px solid #000;background-color:#3399FF;margin:-155px -61px 70px;">
	  <p style="text-align:right;padding:10px;margin: 0px 0px 0px 680px;" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">
		<span class="color customLink" ng-show="currentUser != undefined"><a href="/home" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a> | </span>
		<span class="color customLink" ng-show="currentUser != undefined"><a href="/profile" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Profile</font></a> | </span>
		<span class="color customLink" ng-show="currentUser != undefined"><a href="/upload" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Upload</font></a> | </span>
		<span class="color customLink" ng-show="currentUser != undefined"><a href="/jobHistory" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Job History</font></a> | </span>
		<span class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a> | </span>
		<span class="color customLink" ng-show="currentUser != undefined"><a href="" ng-click="logout()" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">SignOut</font></a></span>
	</p>
	</div>
	
	<div class="form-group" style="margin:-10px 0px 0px 200px">
				
				    <table>
				    <tr>
				    <td nowrap style="vertical-align:bottom">
					<label for="search" style="font-size: 18px">Search User:</label>
					</td>
					<td style="width:20px"></td>
					<td>
					<input id="search" class="form-control" style="width: 300px; height: 36px" type="text" ng-model="user.search" placeholder="Search User Email ID" ng-required="true">
					</td>
					<td style="padding-left:10px;">
					<!-- 
					<button style="width: 92px; height: 36px; font-size: 14px;" class="btn-primary"  ng-click="searchContacts(user)">
					<span class="glyphicon glyphicon-ok-sign"></span>  Search
					</button>
					-->
					<button class="btnCustom" style="width:94px;height:33px;padding:0px;border-radius:20px;" ng-click="searchContacts(user)">
					Search
					</button>
					</td>
					<td style="padding-left:10px;">
					<!-- 
					<a href="/home"><button style="width: 92px; height: 36px; font-size: 14px;" class="btn-warning">
					<span class="glyphicon glyphicon-remove-sign"></span>  Cancel
					</button></a>
					-->
					<a href="/home"><button class="btnCustom" style="width:94px;height:33px;padding:0px;border-radius:20px;background: #f0ad4e;border: solid #f0ad4e 2px;">Cancel</button></a>
					</td>
					<td colspan="2"></td>
					<td style="padding-left:10px;">
					<button class="btnCustom" style="width:184px;height:32px;padding:0px;border-radius:20px;margin:0px 0px 0px 30px;font-size:18px;" data-toggle="modal" data-target="#listRecvRequests">Notifications({{contactList.length}})</button>
					</td>
					</tr></table>
			<br><br>
	</div>
	
</div></div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row" style="height:646px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:640px;">
<div class="panel-body" style="padding:40px;">
			<!-- Content  -->
			<div  style="border:2px solid #5BC0DE;width:1110px;" ng-show="allUsers.length >= 0" data-ng-init="searchContacts(user)">
			<table class="table table-striped">
				<thead>
				<tr style="background-color:#D3D3D3">
					<!--<th>Number #</th>-->
					<th>Username</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Ative(Y/N)</th>
					<th>Zip Code</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="user in partialUsers">
					<td>{{user.email}}</td>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>{{user.activeIn}}</td>
					<td>{{user.zipcode}}</td>
					<td><button  class="btnCustom" style="width:80px;height:28px;padding:0px;font-size:16px;" ng-click="sendAddContactReq(user)">
					+ Add
					</button></td>
				</tr>
				<tr ng-show="allUsers.length <= 0">
				<td colspan="6" align="center"><h4 style="color:red">No Contacts Found For Your Search.</h4></td>
				</tr>
				</tbody>
			</table>
			<table class="table" style="margin-bottom:0px">
			<tbody>
			<tr ng-show="partialUsers.length > 0">
				<td></td><td></td><td></td><td></td><td></td>
				<td align="right">
				    <pagination 
				      ng-model="currentPage"
				      total-items="allUsers.length"
				      max-size="maxSize"  
				      boundary-links="true">
				    </pagination>
				</td>
				</tr>
			</tbody>
			</table>
			</div>
	</div></div></div></div>
	
	<div  class="modal fade" id="listRecvRequests" role="dialogue">
	<div class="modal-dialogue" style="width:42%;height:100%;z-index:0;margin-top: 10%;margin-left: 29%" data-ng-init="listReceivedReqs()">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Contact Requests received for {{currentUser.lastName}}</h4>
			</div>
			<div class="modal-body" style="display:block;padding:12px;">
				<table class="table table-striped" style="margin-bottom: 10px;">
				<thead>
				<tr style="background-color:#D3D3D3">
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>ZipCode</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="contact in contactList" style="padding:10px;">
					<td style="padding: 5px;cursor: pointer;">{{contact.contactFName}}</td>
					<td style="padding: 5px;cursor: pointer;">{{contact.contactLName}}</td>
					<td style="padding: 5px;cursor: pointer;">{{contact.email}}</td>
					<td style="padding: 5px;cursor: pointer;">{{contact.contactZipcode}}</td>
					<td ng-show="approvedStat == undefined"><button  class="btnCustom" ng-click="sendApproval(contact)" style="width:84px;height:24px;padding:0px;border-radius:20px;font-size:16px;">
					Approve
					</button></td>
					<td ng-show="approvedStat == 'A'"><button  class="btnCustom" disabled="true" style="width:84px;height:24px;padding:0px;border-radius:20px;font-size:16px;">
					Approved
					</button></td>
				</tr>
				<tr ng-show="contactList.length <= 0">
				<td colspan="5" align="center"><h4 style="color:red">No Contact requests received.</h4></td>
				</tr>
				</tbody>
			</table>
				
			</div>
			<div class="modal-footer" style="text-align:center;">
				<button class="btnCustom" data-dismiss="modal" ng-click="listReceivedReqs()" style="width:80px;height:32px;padding:0px;border-radius:20px;background: #f0ad4e;border: solid #f0ad4e 2px;">Close</button>
			</div>
		</div>
	</div>
</div>
	
	<!-- Footer -->
	<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="width:110.4%;height:40px;border:0px solid #000;background-color:#3399FF;margin:79px 0px 0px -56px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
	</div>
	</body>