<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Blue Collar Hunt Landing Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
			<!-- 
			<div class="form-group">
            <img src="img/blueCollar.png" width="75px" height="50px" style="margin:-50px 0 0 50px"/>
            </div>
			 -->
		    <div style="text-align:center">
			<div class="form-group" style="display:inline-block;">
            <a href="/login"><button style="margin-top:-57px;width: 145px; height: 35px; font-size: 16px" class="btn btn-primary"  ng-click="">
				<span class="glyphicon"></span>  Seeker
			</button></a>
            </div>
            <div class="form-group" style="display:inline-block;float:center">
            <a href="/empSignIn"><button style="margin-top:-57px;width: 145px; height: 35px; font-size: 16px" class="btn btn-primary"  ng-click="">
				<span class="glyphicon"></span>  Employer
			</button></a>
            </div>
            </div>
            <div style="text-align:right">
            <a href="/contact"><button style="margin-top:-117px;width: 125px; height: 30px; font-size: 16px" class="btn btn-primary"  ng-click="" ng-disabled="">
				<span class="glyphicon"></span>  Contact Us
			</button></a>
			</div>
            <div style="text-align:center">
			<div class="form-group has-feedback" style="display:inline-block;">
                <input type="text" ng-model="user.search" class="form-control" style="width:280px" placeholder="Jobs" ng-change="testLoginName()" ng-required="true">
            	<i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback" style="display:inline-block;">
            	<input type="text" id="Autocomplete" ng-model="user.location" style="width:280px" class="form-control" placeholder="Location" ng-autocomplete="result1" details="details1" options="options1" />
            	<i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
            </div>
            <div class="form-group" style="display:inline-block;">
            <input type="image" src="img/search.png" alt="Submit" width="45" height="48" style="padding-bottom:15px;" ng-click="search(user.search)">
            </div>
            </div>
</div></div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:550px;">
<div class="panel-body" style="padding:10px;">

<div ng-show="searchResults != 1 && jobResults != 2" style="text-align:center;">
<object type="application/x-shockwave-flash" data="./media/flashfox.swf" width="1000" height="520" style="position:relative;">
<param name="movie" value="./media/flashfox.swf" />
<param name="allowFullScreen" value="true" />
<param name="flashVars" value="autoplay=true&amp;controls=true&amp;fullScreenEnabled=true&amp;posterOnEnd=true&amp;loop=true&amp;poster=./media/BlueCollarHunt-HD_(720p).jpg&amp;src=BlueCollarHunt-HD_(720p).m4v" />
 <embed src="./media/flashfox.swf" width="1152" height="525" style="position:relative;"  flashVars="autoplay=true&amp;controls=true&amp;fullScreenEnabled=true&amp;posterOnEnd=true&amp;loop=false&amp;src=BlueCollarHunt-HD_(720p).m4v"	allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
<img alt="Blue Collar Jobs On Demand" src="./media/BlueCollarHunt-HD_(720p).jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser" />
</object>
</div>

<div ng-show="searchResults == 1" class="panel panel-default site-panel-box" style="border: 3px ridge #5BC0DE;height:530px;width:684px;margin:0 0 0 480px;">
<div class="panel-body" ng-show="jobResults == 2" style="padding:0px;">
<div style="text-align:right">
			<p>
			email : {{user.email}}
			firstname : {{user.firstName}}
			lastName : {{user.lastName}}
			</p>
            <a href="/apply"><button style="width: 125px; height: 30px; font-size: 16px" class="btn btn-primary"  ng-click="" ng-disabled="">
				<span class="glyphicon"></span>  APPLY
			</button></a>
</div>
</div></div>

<div ng-show="searchResults == 1" class="panel panel-default site-panel-box" style="border: 3px ridge #5BC0DE;height:530px;width:470px;background-color:#5BC0DE;margin:-530px 0 0 0;">
<div class="panel-body" style="padding:0px;padding-top:5px;" ng-repeat="user in jobsList">
<a href="" ng-click="getJobInfo(user.email)">
<div style="border: 2px solid;padding: 20px;background: #5BC0DE;border-bottom-right-radius: 2em;">
{{user.email}}
</div>
</a>
</div>
<div ng-show = 'jobsList.length <= 0' style="text-align:center;">
	<h4 style="color:red">No Records Found For Your Search.</h4>
</div>
</div>
</div></div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
</div></div></div></div></div>
<div class="copyright">
            <p>&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</footer>
</body>
</html>