<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blue Collar Hunt Resume Upload Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
    <img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="75" style="margin:10px 0px 0px -60px"/>
	<div style="width:111.5%;height:40px;border:0px solid #000;background-color:#3399FF;margin:-151px -61px 70px;">
	  <p style="align:right;padding:10px;margin: 0px 0 0px 700px;">
		<a href="/home" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/profile" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Profile</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/changePassword" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Change Password</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="" ng-click="logout()" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">SignOut</font></a>
	</p>
	</div>
</div></div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row" style="height:556px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:550px;">
<div class="panel-body" style="padding:25px;">

<div class="content">
		<div class="container">
			<!-- Content -->
			<div class="panel panel-default site-panel-box" style="width:420px;height:250px;margin:35px 0 0 20px;float:left">
			<div class="panel-body" style="padding:10px;">
			<div class="row">
			<br/><br/>
                <div class="col-md-3">

                    <div ng-show="uploader.isHTML5" style="padding-left:10px;">
                          <div nv-file-drop="" ng-click="launchFilePicker()" uploader="uploader" options="{ url: '/foo' }">
                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone" style="border-style:dotted;border-color:#5BC0DE;border-width: 5px;width:350px;height:150px;">
                                Drag & Drop Resume Here
                            <div ng-hide="uploader.isHTML5"><input id="fileDialog" type="file" nv-file-select="" uploader="uploader" ng-click="javascript:alert('hi')"/></div>
                            </div>
                        </div>
                        <div>
                        <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;width:350px">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': progress + '%' }"></div>
                                    </div>
                                </td>
                        </div>
                    </div>
                </div>
                </div></div></div>
                <div class="panel panel-default site-panel-box right-box" style="width:430px;height:250px;margin:-250px 20px 10px 620px;">
				<div class="panel-body" style="padding:50px 0 0 0;">
                <div class="col-md-3">

                    <div ng-show="uploader.isHTML5">
                          <div nv-file-drop=""  uploader="uploaderCover" options="{ url: '/foo' }">
                            <div nv-file-over="" uploader="uploaderCover" over-class="another-file-over-class" class="well my-drop-zone" style="border-style:dotted;border-color:#5BC0DE;border-width: 5px;width:350px;height:150px;">
                                Drag & Drop Cover Letter Here
                            </div>
                        </div>
                        <div>
                        <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;width:350px">
                                        <div class="progress-bar" role="progressbar"  ng-style="{ 'width': coverProgress + '%' }"></div>
                                    </div>
                        </td>
                        </div>
                    </div>
                </div>
            </div>
            </div>
		</div>
	</div>
<div>
<!-- <div data-ng-init="dropbox()" id="dropboxChooser" width=160 height=45></div> -->
<!-- <div data-ng-init="onApiLoad()" id="container1234"></div>  -->
<br/>
<div class="form-group" style="padding-left:40px;">
      <select ng-model="selectedState" ng-options="state.abbreviation as state.name for state in states" style="font-size: 14px; width: 400px; height: 32px; display:inline-block;margin-right:80px;">
	  </select>
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <select ng-model="selectedState" ng-options="state.abbreviation as state.name for state in states" style="font-size: 14px; width: 400px; height: 32px; display:inline-block;">
	  </select>
</div>
<br/><br/>
<div class="form-group" style="margin-left:340px;padding:0px 0 0 50px;">
<!-- <div id="dropboxChooser" class="form-group" style="border-style:solid;border-color:#5BC0DE;border-width: 5px;width:170px;margin-left:175px;">  -->
<a href="" ng-click="dropbox()"><img src="./img/dropbox_icon.jpg" width=158 height=40 style="border-style:solid;border-color:#5BC0DE;border-width: 4px;"></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- <div id="googlePicker" class="form-group" style="border-style:solid;border-color:#5BC0DE;border-width: 5px;width:170px;margin-left:175px;"> -->
<a href="" ng-click="loadPicker()"><img src="./img/drive_icon.png" width=158 height=40 style="border-style:solid;border-color:#5BC0DE;border-width: 4px;"></a>
<!-- </div> -->
</div>
</div>
</div></div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div style="width:110.4%;height:40px;border:0px solid #000;background-color:#3399FF;margin:79px 0px 0px -56px;">
	<p class="copyright" style="padding-top:10px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</div></div></div></div></div>
</footer>
</body>
</html>