<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blue Collar Hunt Admin Control Page</title>
  </head>
<body>
<div class="navbar navbar-inverse" style="width:100%;height:50%;border:0px solid #000;background-color:#3399FF;margin-bottom:3px;">
 			 <div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" style="color:white;font-size:24px;padding-left:30px;font-weight:bold;">BlueCollarHunt</a>
    			</div>
    			<ul class="nav navbar-nav navbar-right">
    			    <li class="color customLink"><a href="/admin" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Home</font></a></li>
					<li class="color customLink"><a href="/changeProfile" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Change Profile</font></a></li>
					<li class="color customLink"><a href="/changePassword" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Change Password</font></a></li>
		  			<li class="color customLink"><a href="/contact" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">Contact Us</font></a></li>
		  			<li class="color customLink"><a href="" ng-click="logout()" style="text-decoration: none"><font style="text-align:center;" size="4" color="white">SignOut</font></a></li>
    			</ul>
  			</div>
</div>
<div class="container" style="padding-left:0px;">
<div class="row" style="height:201px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
    <a href="/admin"><img src="img/blueCollar.png" alt="BlueCollarHunt" width="125" height="125" style="margin:-30px 0px 0px -60px"/></a>
	
	<div class="form-group" style="margin:-80px 0px 0px 180px">
				
				    <table>
				    <tr>
				    <td nowrap style="vertical-align:middle">
					<label for="search" style="font-size: 18px">Search User:</label>
					</td>
					<td style="width:20px"></td>
					<td>
					<input id="search" class="form-control" style="width: 420px; height: 42px" type="text" ng-model="user.search" placeholder="Search User Email ID" ng-required="true">
					</td>
					<td style="padding-left:15px;">
					<button class="btnCustom" style="width:104px;height:42px;padding:0px;border-radius:20px;margin-top:-10px;" ng-click="search(user)">
					Search
					</button>
					</td>
					<td style="padding-left:15px;">
					<a href="/admin"><button class="btnCustom" style="width:104px;height:42px;padding:0px;border-radius:20px;background: #f0ad4e;border: solid #f0ad4e 2px;margin-top:-10px;">Cancel</button></a>
					</td>
					<td colspan="2"></td>
					</tr></table>
			<br><br>
	</div>
	
</div></div></div></div></div>

<div class="container" style="padding-left:0px;margin-top:-20px;">
<div class="row" style="height:646px;">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:640px;">
<div class="panel-body" style="padding:40px;">
			<!-- Content  -->
			<div  style="border:3px solid #5BC0DE;width:1110px;" ng-show="allUsers.length >= 0" data-ng-init="search(user)">
			<table class="table table-striped">
				<thead>
				<tr style="background-color:#D3D3D3">
					<!--<th>Number #</th>-->
					<th>Username</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Phone</th>
					<th>Active Status</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="user in partialUsers">
					<td style="padding: 0px;padding-top: 10px;cursor: pointer;" ng-click="editUserInfo(user)"><strong>{{user.email}}</strong></td>
					<td style="padding: 0px;padding-top: 10px;cursor: pointer;" ng-click="editUserInfo(user)">{{user.firstName}}</td>
					<td style="padding: 0px;padding-top: 10px;cursor: pointer;" ng-click="editUserInfo(user)">{{user.lastName}}</td>
					<td style="padding: 0px;padding-top: 10px;cursor: pointer;" ng-click="editUserInfo(user)">{{user.contactNum}}</td>
					<td ng-if="user.activeIn == 'Y'"><label class="switch"><input type="checkbox" checked ng-click="disableUser(user)"><div class="slider round"></div></label></td>
					<td ng-if="user.activeIn == 'N' || user.activeIn == undefined"><label class="switch"><input type="checkbox" ng-click="enableUser(user)"><div class="slider round"></div></label></td>
					<td><button  class="btnCustom btn-danger" ng-click="deleteUser(user)" style="width: 70px; height: 34px; font-size: 18px; padding:0px;background:#d9534f">
					 <span class="glyphicon glyphicon-trash"></span> 
					</button></td>
				</tr>
				<tr ng-show="allUsers.length <= 0">
				<td colspan="6" align="center"><h4 style="color:red">No Users Found For Your Search.</h4></td>
				</tr>
				</tbody>
			</table>
			<table class="table" style="margin-bottom:0px">
			<tbody>
			<tr ng-show="partialUsers.length > 0">
				<td></td><td></td><td></td><td></td><td></td>
				<td align="right">
				    <pagination 
				      ng-model="currentPage"
				      total-items="allUsers.length"
				      max-size="maxSize"  
				      boundary-links="true">
				    </pagination>
				</td>
				</tr>
			</tbody>
			</table>
			</div>
	</div></div></div></div>
</div>
	<!-- Footer -->
	<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;margin-bottom:-12px;">
<div class="panel-body" style="padding:55px;">
</div></div></div></div></div>
</footer>
<div style="width:100%;height:90px;border:0px solid #000;background-color:#3399FF;">
	<p class="copyright" style="padding-top:60px;color:white;font-size:15px;">&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
	</body>
</html>