/*.client-detail .vertical-timeline-icon.gray-bg {
    color: #a7aaab;
}*/
.gray-bg {
    background-color: #F5F6FA;
}
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 400px auto;
    padding-top: 40px;
    float:left;   
}
.space_line { 
	line-height:0.7 
}
.right-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 0 0 -300px;
    
     padding-left: 20px;
    padding-right: 20px;
    float:left;
    display: inline-block;
}
/*.lockscreen.middle-box {
    width: 200px;
    padding-top: 110px;
}*/
.loginscreen.middle-box {
    width: 300px;
}
.middle-box h1 {
    font-size: 120px;
    color: #CCC;
}
/*.wrapper .middle-box {
    margin-top: 140px;
}*/
/*.animated.modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}*/
.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0px;
}
.m-t {
    margin-top: 15px;
}
/*.navbar-form-custom .form-group {
    margin-bottom: 0;
}
.mail-body .form-group {
    margin-bottom: 5px;
}
.chat-message-form .form-group {
    margin-bottom: 0;
}*/
/*.navbar-form-custom .form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    height: 60px;
    margin: 0;
    z-index: 2000;
}*/
.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
    box-shadow: none;
}
.form-control,
.single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
.form-control:focus,
.single-line:focus {
    border-color: #1ab394;
}
.has-success .form-control {
    border-color: #1ab394;
}
.has-warning .form-control {
    border-color: #f8ac59;
}
.has-error .form-control {
    border-color: #ed5565;
}
.has-error .custom-control {
    border-color: #ed5565;
}
.ui-jqgrid .form-control {
    height: 10px;
    width: auto;
    display: inline;
    padding: 10px 12px;
}
.form-control.error {
    border: 1px dotted #cc5965;
}
.btn {
    border-radius: 3px;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #1dc5a3;
    border-color: #1dc5a3;
}
.block {
    display: block;
}
.full-width {
    width: 100% !important;
}
/*.toast-top-full-width {
    margin-top: 20px;
}
.toast-bottom-full-width {
    margin-bottom: 20px;
}*/
.m-b {
    margin-bottom: 15px;
}
.text-muted {
    color: #888888;
}
.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: inherit;
    border: 1px solid #d2d2d2;
}
.btn-white:active,
.btn-white.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none;
}
.btn-white.disabled,
.btn-white.disabled:hover,
.btn-white.disabled:focus,
.btn-white.disabled:active,
.btn-white.disabled.active,
.btn-white[disabled],
.btn-white[disabled]:hover,
.btn-white[disabled]:focus,
.btn-white[disabled]:active,
.btn-white.active[disabled],
fieldset[disabled] .btn-white,
fieldset[disabled] .btn-white:hover,
fieldset[disabled] .btn-white:focus,
fieldset[disabled] .btn-white:active,
fieldset[disabled] .btn-white.active {
    color: #cacaca;
}
.customLink {
    font-size: 16px
}
.customBtn {
    width: 200px;
    height: 80px;
}
.customSpan {
    font-size: 22px
}
hr {
    border: 1px #e3e3e3 solid
}

#div1 {border-radius: 6px; border: transparent; width: 326px; height: 60px; background: orange; position: absolute; top: 14%; left: -295px; filter: alpha(opacity: 0.5); opacity: 0.5; overflow: hidden; box-shadow: 7px 7px 5px #A9A9A9;}
#div1 h3 {text-align: center; color: #5555FF; font-weight: bold;}
#div1 ul {list-style: none; margin: 0; padding: 0;}
#div1 ul li {background: #F4A460; border: 1px #F4A460 outset; text-align: center; line-height: 27px; font-size: 15px; float:left; margin: 5px; width: 30px; height: 27px; cursor: pointer}
.red{
    color : #5555FF;
}
.white {
    color: white;
}

.copyright {
    text-align: center; font-size: 12px; margin: 15px;
}
.divTrigger {
    filter:alpha(opacity: 0);
    opacity: 0;
    position: absolute;
    min-height: 42px;
    margin: 0 0 0 112px;
    padding: 10px 15px 5px 15px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px; /* Safari 4 and earlier */
    border-radius: 20px; /* Opera, Chrome, Safari 5, IE 9 */
    border-top: 1px solid #fff;
    background-color: hsla(182,44%,76%,.5);

    background-image: -moz-linear-gradient(hsla(0,0%,100%,.6),
    hsla(0,0%,100%,0) 30px);
    background-image: -webkit-gradient(linear, 0 0, 0 30,
    from(hsla(0,0%,100%,.6)),
    to(hsla(0,0%,100%,0)));

    -moz-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
    -webkit-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
    box-shadow: 1px 1px 2px hsla(0,0%,0%,.3); /* Opera, IE 9 */
    word-wrap: break-word;
}
.divTrigger:hover {
    top: -2px;
    left: -2px;
    -moz-box-shadow: 3px 3px 2px hsla(0,0%,0%,.3);
    -webkit-box-shadow: 3px 3px 2px hsla(0,0%,0%,.3);
    box-shadow: 3px 3px 2px hsla(0,0%,0%,.3); /* Opera, IE 9 */
    text-shadow: 1px 1px 1px hsla(0,0%,100%,.7); /* FF, Opera, Safari, Chrome */
}
/* CSS for Credit Card Payment form */
.site-panel-box .panel-title {
    display: inline;
    font-weight: bold;
}
.site-panel-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.site-panel-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.site-panel-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.site-panel-box label {
    display: block;
}
/* The old "center div vertically" hack */
.site-panel-box .display-table {
    display: table;
}
.site-panel-box .display-tr {
    display: table-row;
}
.site-panel-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.site-panel-box .panel-heading img {
    min-width: 180px;
} .btn span.glyphicon {    			
	opacity: 0;				
}.btn.active span.glyphicon {				
	opacity: 1;				
}.profileImage{
  width: 55px;
  height: 55px;
  border-radius: 45%;
  background-position: center center;
  background-size: cover;
}.nav-side-menu {
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

.btnCustom {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #63c1ff;
  padding: 10px 20px 10px 20px;
  border: solid #4db2f0 2px;
  text-decoration: none;
}
.btnCustom:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
#harry {
     top: -40px;
     left: -280px;
     width: 500px;
}
#jaime {
    top: -35px;
    left: 460px;
    width: 500px;
}
#neeru {
    top: 300px;
    left: -300px;
    width: 460px;
}
#nikitha {
    top: 320px;
    left: 440px;
    width: 500px;
}